.footer {
    background: $brand1;
    padding: 3rem 0;
    color: #fff;
    overflow: hidden;

    .logo {
        display: inline-block;

        @include respond-to($phone) {
            margin: auto;
        }
    }

    .block {
        @extend .flex;
        justify-content: space-between;
        margin-top: 30px;

        >div p {
            opacity: .6;
            font-size: .889rem;
            margin-bottom: 5px;
        }
    }

    .container {
        &::before {
            content: url(../img/footer-decor-group-1.svg);
            position: absolute;
            top: -90px;
            left: 60%;

            @include respond-to($phone) {
                content: none;
            }
        }

        &::after {
            content: url(../img/footer-decor-group-2.svg);
            position: absolute;
            bottom: -70px;
            left: 73%;

            @include respond-to($phone) {
                content: none;
            }
        }
    }

    .madeBy {
        display: flex;
        align-items: center;
        img {
            margin-left: 10px;
        }
    }

    .nav {
        @include respond-to($phone) {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    .listNavigation {
        @extend .flex;
        width: auto;

        @include respond-to($phone) {
            flex-flow: row wrap;
            width: 100%;
        }

        li {
            margin: 0 10px;

            @include respond-to($phone) {
                margin: 0 5px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &:nth-child(1) {
                margin-left: 0;
            }

            a:hover {
                opacity: .7;
            }
        }
    }

    .social {
        ul {
            @include respond-to($phone) {
                text-align: center;
            }
        }

        li {
            display: inline-block;
            margin: 0 10px;

            @include respond-to($tablet-portrait) {
                margin: 0 1rem;
            }

            &:first-child {
                margin-left: 0;
            }

            a {
                display: inline-block;

                &:hover {
                    transform: translateY(-2px);
                }
            }
        }
    }
}