.h1 {
    font: 3.125rem/3.500rem $font1;

    @include respond-to($phone) {
        font-size: 3rem;
        line-height: 3.1rem;
    }
}

.h2 {
    font: 2.813rem/3.375rem $font1;

    @include respond-to($phone) {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

.h3 {
    font: 2.000rem/2.500rem $font1;
}

.h4 {
    font: 1.688rem/2.500rem $font1;
}

.h5 {
    font: 1rem/1.5rem $font1;
}

.textSmall {
    font: 1rem/1.5rem $font2;
    font-weight: 400;

    &.bold {
        font-weight: 600;
    }
}

.textMedium {
    font: 1.125rem/1.688rem $font2;
    font-weight: 400;

    &.bold {
        font-weight: 600;
    }
}

.textLarge {
    font: 1.313rem/1.875rem $font2;
    font-weight: 400;

    &.bold {
        font-weight: 600;
    }
}

.btnSmall {
    font: 1.063rem $font2;
    font-weight: 600;
}

.btnMedium {
    font: 1.313rem $font2;
    font-weight: 600;
}

.btnLarge {
    font: 1.5rem $font2;
    font-weight: 600;
}

p {
    @extend .textSmall;
}

a {
    @include transition(.3s);
    @extend .textSmall;
    // cursor: pointer;
}

h1 {
    @extend .h1;
}

h2 {
    @extend .h2;
}

h3 {
    @extend .h3;
}

h4 {
    @extend .h4;
}

h5 {
    @extend .h5;
}

b,
strong {
    font-weight: 600;
}

i,
em {
    // @extend .accentItalicMedium;
}

select {
    @extend .textSmall;
}

input:not([type="submit"]),
textarea {
    border: 0;
    -webkit-appearance: none;

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
}

input[type=submit] {
    border: 0;
    @extend .btn;
    cursor: pointer;
    -webkit-appearance: none;
}

textarea {
    height: 130px;
    -webkit-appearance: none;
}

video {
    max-width: 100%;
}

.container {
    width: 1170px;
    margin: auto;
    position: relative;

    @include respond-to($interval) {
        width: auto;
        margin: 0 15px;
    }

    @include respond-to($tablet-portrait) {
        width: auto;
        margin: 0 15px;
    }
}

.flex {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;

    @include respond-to($phone) {
        flex-flow: column wrap;
    }
}

.flexCol {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

// .social {
//     @extend .flex;

//     @include respond-to($tablet-portrait) {
//         flex-flow: row;
//         justify-content: center;
//         width: 100%;
//     }

//     @include respond-to($phone) {
//         flex-flow: row wrap;
//         width: 100%;
//     }

//     a {
//         display: block;

//         &:hover {
//             transform: translateY(-2px);
//         }
//     }
// }

.shadow {
    box-shadow: 0px 0px 12px rgba(159, 174, 191, 0.3);
}

.btn {
    background: $brand2;
    border-radius: 4px;
    color: #fff;
    padding: 13px;
    min-width: 160px;
    text-align: center;
    display: inline-block;

    @include transition(.3s);

    @include respond-to($phone) {}

    &.small {
        padding: 9px 16px;
        @extend .btnSmall;

        @include respond-to($phone) {
            padding: 10px;
            width: 100%;
            font-size: 1rem;
        }
    }

    &.medium {
        padding: 16px;
        @extend .btnMedium;

        @include respond-to($phone) {
            padding: 10px;
            width: 100%;
            font-size: 1rem;
        }
    }

    &.large {
        padding: 20px 16px;
        @extend .btnLarge;
        min-width: 220px;

        @include respond-to($phone) {
            padding: 10px;
            width: 100%;
            font-size: 1rem;
        }
    }

    &:hover {
        background: $brand1;
        box-shadow: 0px 4px 8px rgba(0, 210, 220, 0.25);
    }

    &:active {
        background: $brand1;
    }
}

h2.title {
    text-align: center;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.row {
    .btn {
        margin-top: 3rem;
        @extend .textSmall;
    }
}

select {
    width: 100%;
    border: 1px solid $brand1;
    padding: 10px !important;
    background: #fff;
    -webkit-appearance: none;
    background: url(../../img/arrow-bottom.svg) 97% 50% no-repeat;
}


.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    $size: 8px;
    width: $size;
    height: $size;
    background-color: $brand1;
}

.cursor-dot-outline {
    $size: 40px;
    width: $size;
    height: $size;
    background-color: rgba($brand2, 0.5);
}

.typedString {
    .title {
        display: inline;
    }
    .typed-cursor {
        font-size: 40px;
    }
    .typed-cursor.typed-cursor--blink {
        animation: typedjsBlink .7s infinite, fadeOut .7s forwards;
        animation-iteration-count: 5;
    }
}