@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(10, 182, 253, 0.4);
    }

    70% {
        box-shadow: 0 0 0 40px rgba(8, 158, 252, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(10, 182, 253, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}