@media screen and (max-width: 1024px) {
    .topMenu {
        width: 98%;

        .blockFixedWrapper {
            margin-right: 10px;
        }

        .block {
            height: 100%;
        }

        .wrapper {
            width: 86%;
            flex-flow: row;
        }

        .navigation {
            .listNavigation {
                li {
                    margin: 0 6px;
                }

                .btn {
                    padding: 13px 20px;
                }
            }
        }

        .languageSwitcher {
            a {
                margin: 0 5px;
            }
        }
    }

    .main {
        .header {
            min-height: auto;

            .backgroundMedia {
                height: auto;

                .container {
                    width: 100%;
                    height: auto;
                }

                video {
                    position: static;
                    transform: none;
                    width: 80%;
                    margin-top: 100px;
                }

                .textBlock {
                    position: static;
                    transform: none;
                    width: 70%;
                    margin-top: 4rem;
                }
            }
        }

        .ecommerceBlock {
            margin-top: 5rem;
        }

        // .achievements {
        //     margin-top: 7rem;
        // }

        .products,
        .features {
            .block {
                align-items: center;
                flex-flow: row wrap;

                .item {
                    margin-bottom: 2rem;
                }
            }
        }

        .testimonials {
            .slick-slide {
                transform: none;
            }
        }
    }

    // COMMON SCSS

    
}