@media screen and (max-width: 667px) {
    .topMenu {
        height: 56px;
        color: #000;

        .blockFixedWrapper {
            margin-right: 10px;
            height: 100%;
        }

        .logoWrapp {
            line-height: 1;
        }

        .block {
            flex-flow: row wrap;
        }

        .burger {
            display: block;
            position: relative;
            z-index: 1011;
        }

        .wrapper {
            background: #fff;
            position: fixed;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 100%;
            z-index: 1000;

            @include transition(.3s);

            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            &.open {
                left: 0;
            }
        }

        .navigation {
            .listNavigation {
                li {
                    // &:first-child {
                    //     margin-left: 6px;
                    // }

                    // &:last-child {
                    //     margin-right: 6px;
                    // }

                    a {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                    }
                }
            }
        }

        .languageSwitcher {
            flex-flow: row wrap;
            position: absolute;
            top: 15px;
            left: 0;
        }
    }

    .main {
        .header {
            .backgroundMedia {
                .container {
                    width: auto;
                }

                .textBlock {
                    width: 100%;
                }
            }
        }
    }

    // COMMON SCSS

    // .slick-slider {
    //     width: 90%;
    //     margin: auto;

    //     .slick-arrow {
    //         &.slick-prev {
    //             left: -40px;
    //         }

    //         &.slick-next {
    //             right: -40px;
    //         }
    //     }
    // }
}