.topMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    display: flex;
    color: #000;
    z-index: 1000;
    background: #fff;
    transition: all .5s cubic-bezier(0.1, 0.17, 0.1, 0.8);

    @include respond-to($tablet-portrait) {
        height: 80px;

        .logoWrapp {
            img {
                width: 90px;
            }
        }
    }

    @include respond-to($phone) {
        height: 80px;

        &.open {
            .wrapper {
                left: 0;
            }
        }

        .logoWrapp {
            position: relative;
            z-index: 10;

            img {
                width: 100px;
            }
        }
    }

    .block {
        @extend .flex;
        justify-content: space-between;
        width: 100%;

        @include respond-to($tablet-portrait) {
            height: 80px;
        }

        @include respond-to($phone) {
            flex-flow: row wrap;
            height: 80px;
        }
    }

    .container {
        @include respond-to($interval) {
            width: 100%;
        }
        @include respond-to($tablet-portrait) {
            width: 100%;
        }

        @include respond-to($phone) {
            width: 100%;
        }
    }

    .burger {
        display: none;
        position: relative;
        width: 32px;
        height: 30px;

        @include respond-to($phone) {
            display: block;
            position: relative;
            z-index: 10;
        }

        span {
            position: absolute;
            transform: translateY(-50%);
            background: $brand2;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            left: 50%;
            @include transition(.3s);

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(3) {
                top: 100%;
            }
        }

        &.active {
            span {
                width: 32px;
                height: 4px;
                border-radius: 30px;
                left: 0;

                &:nth-child(1) {
                    transform: rotateZ(-45deg);
                    top: 50%;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: rotateZ(45deg);
                }
            }
        }

    }

    a {
        @extend .h5;
    }

    .wrapper {
        width: calc(100% - 160px);
        padding-left: 50px;
        @extend .flex;
        justify-content: space-between;

        @include respond-to($tablet-portrait) {
            width: calc(100% - 90px);
            padding-left: 20px;
        }

        @include respond-to($phone) {
            position: fixed;
            top: 0;
            min-height: 100vh;
            width: 100%;
            left: -100%;
            background: #fff;
            padding: 0;
            justify-content: center;
            transition: all .3s ease;
        }

        .actionButtons {
            @include respond-to($phone) {
                display: flex;
                flex-flow: column;
                text-align: center;
                margin-top: 20px;
            }

            .btn {
                margin-left: 30px;

                @include respond-to($tablet-portrait) {
                    margin-left: 10px;
                }

                @include respond-to($phone) {
                    margin: 30px 0 0;
                }
            }

            a {
                @include respond-to($tablet-portrait) {
                    font-size: 0.889rem;
                }

                &:hover {
                    opacity: 1;
                    color: $brand2;
                }

                &.btn {
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .navigation {
        .listNavigation {
            @extend .flex;
            width: auto;

            li {
                margin: 0 20px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                @include respond-to($tablet-portrait) {
                    margin: 0 10px;
                }

                @include respond-to($phone) {
                    margin: 5px 0;
                }

                a {
                    position: relative;
                    opacity: .8;

                    @include respond-to($tablet-portrait) {
                        font-size: 0.889rem;
                    }

                    &:hover {
                        opacity: 1;
                        color: $brand2;
                    }
                }

                &.current-menu-item {
                    a {
                        opacity: 1;

                        &::before {
                            content: '';
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            background: $brand2;
                        }
                    }
                }
            }
        }
    }
}