@mixin transition($duration) {
    -webkit-transition: all $duration ease-in-out;
    -moz-transition: all $duration ease-in-out;
    -o-transition: all $duration ease-in-out;
    -ms-transition: all $duration ease-in-out;
    transition: all $duration ease-in-out;
}

@mixin anim($count) {
    $delay: 0.01s;
    @for $i from 1 through $count {
        g:nth-of-type(#{$i}) ellipse {
            animation: ellipse 2s alternate infinite ease-in-out;
            animation-delay: $delay;
        }

        $delay: $delay + 0.12s;
    }
}

// $phone: '(min-width: 320px) and (max-width: 667px)';
$phone: '(min-width: 320px) and (max-width: 667px)';
$phone-land: '(min-width: 667px) and (max-width: 812px) and (orientation: landscape)';
// $tablet-portrait: '(max-width: 1024px)';
$tablet-portrait: '(min-width: 667px) and (max-width: 1024px)';
$tablet-landscape: '(min-width: 767px) and (max-width: 1024px) and (orientation: landscape)';
$interval-back: '(max-width: 1366px)';
$interval: '(max-width: 1200px)';
$medium-desktop: '(min-width: 1365px)';
$large-desktop: '(min-width: 1440px)';
$large-desktop-min1440-max1680: '(min-width: 1441px) and (max-width: 1680px)';
$largeDesktopMin: '(min-width: 1680px)';
$full-desktop: '(min-width: 1919px)';
$uhd-desktop: '(min-width: 2500px)';
$from800to480: '(min-height: 480px) and (max-height: 700px)';
$retina: '(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media screen and #{$media} {
        @content;
    }
}
