$brand1:#00ABE6;
$brand2:#00D2DC;

$textMain: #333333;
$filters: #707070;

$back2: #F3F9FF;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Varela+Round&display=swap');

$font1: 'Varela Round';
$font2: 'Open Sans';