.defaultPage {
    margin-bottom: 150px;

    .content {

        h2,
        h3,
        h4 {
            color: $brand1;
            margin-bottom: 1.5rem;
        }

        p {
            @extend .textLarge;
        }

        a {
            color: $brand1;
        }
    }
}

.scheduleBlock {
    padding: 100px 0;
    background-color: $back2;
    position: relative;

    &::before {
        content: url(../../img/schedule-decor-group.svg);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        text-align: center;
    }

    .title {
        margin-bottom: 0;
        display: block;

        span {
            color: $brand1;
        }
    }

    p {
        color: $brand1;
    }

    .btn {
        margin: 2rem 0 1rem;
    }
}

$primary-colour: $brand1;
@mixin custom-checkbox($selector: 'label', $box-size: 1.1em) {
    >input {
        opacity: 0;
        position: absolute;
        z-index: -1;

        &:checked+#{$selector} {
            // color: $primary-colour;

            &::before {
                background: rgba($primary-colour, .25);
                border-color: $primary-colour;
            }

            &::after {
                transform: scale(1) rotate(-45deg);
            }

            a {
                text-decoration: underline;
            }
        }
    }

    >#{$selector} {
        @content;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: all .1s;

        &::before {
            border: calc(1px + .06em) solid $brand2;
            border-radius: calc(3px + .05em);
            content: '';
            display: inline-block;
            font-size: $box-size;
            height: calc(3px + .8em);
            margin-right: calc(4px + .4em);
            transition: all .1s;
            vertical-align: middle;
            width: calc(3px + .8em);
        }

        &::after {
            border-bottom: calc(2px + .07em) solid $primary-colour;
            border-left: calc(2px + .07em) solid $primary-colour;
            content: '';
            font-size: $box-size;
            height: calc(3px + .22em);
            left: calc(.25em - 1px);
            position: absolute;
            top: calc(50% - 6px);
            transform: scale(0) rotate(-45deg);
            transition: all .1s;
            width: calc(5px + .32em);
        }
    }
}

.subscribeBlock {
    padding: 100px 0;
    text-align: center;

    .subtitle {
        max-width: 370px;
        margin: auto;
    }

    .subscribeForm {
        margin-top: 35px;

        input[type=email] {
            box-shadow: 0 0 0 1px $brand2;
            min-width: 250px;
            border-radius: 4px;
            height: 40px;
            padding: 0 10px;
            margin-right: 20px;
            @include transition(.3s);

            @include respond-to($phone) {
                margin-right: 0;
                margin-bottom: 20px;
            }


            &:focus {
                box-shadow: 0 0 0 1px $brand1;
            }
        }

        div {
            margin-top: 15px;
            @include custom-checkbox;

            label {
                color: #797979;
                a {
                    color: $brand2;
                }
            }
        }
    }
}

.notFound {
    margin-top: 150px;

    height: 700px;

    .container {
        height: 100%;
    }

    .image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .caption {
        width: 620px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .btn {
            margin-top: 50px;
        }
    }
}

.readMoreLink {
    display: inline-block;
    margin-top: 30px;
    color: $brand2;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background: $brand2;
        position: absolute;
        left: 0;
        bottom: -5px;
        @include transition(.3s);
    }

    &:hover {
        &::before {
            width: 0;
        }
    }
}