<footer class="footer">
  <div class="container">
    <a href="/" class="logo">
      <img src="img/logo_white.svg" alt="">
    </a>
    <div class="block">
      <div class="nav">
        <p>Menu</p>
        <ul class="listNavigation" id="footerMenu">
          <li><a href="service.html">Offerings</a></li>
          <li><a href="catalog.html">Catalog</a></li>
          <li><a href="solution.html">Solution</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="nav">
        <p>Help</p>
        <ul class="listNavigation" id="helpMenu">
          <li><a href="">Support</a></li>
          <li><a href="">API Doc</a></li>
          <li><a href="">Q&A</a></li>
        </ul>
      </div>
      <div class="social">
        <p>Social Networks</p>
        <ul>
          <li>
            <a href="">
              <img src="img/twitter.svg" alt="">
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/linkedin.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="block">
      <div class="nav">
        <ul class="listNavigation">
          <li><a href="">Privacy policy</a></li>
          <li><a href="">Terms of usage</a></li>
        </ul>
      </div>
      <a class="madeBy" href="https://ein-des-ein.com/">Made By <img src="img/ein-des-ein-logo.svg" alt="Ein Des Ein"></a>
    </div>
  </div>
</footer>

<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<script src="js/bundle.js"></script>
</body>

</html>