<% var data = {
    title: "Ooops .. | Arbalo"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="notFound">
    <div class="container">
        <div class="image">
            <img src="img/not-found.svg" alt="">
        </div>
        <div class="caption">
            <h2>Oops! Sorry, we could not find the page</h2>
            <a href="/" class="btn">Go Back Home</a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>