<% var data = {
    title: "Catalog | Arbalo"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="catalogPage">

    <div class="header">
        <div class="container">
            <div class="block">
                <div class="typedString">
                    <div id="typed-string">
                        <h1 class="title">Service Catalog</h1>
                    </div>
                    <h1 class="title" id="typed"></h1>
                </div>
                <p class="subtitle">A universal marketplace for cloud software and services with pay-as-you-go pricing,
                    rapid deployment and simple operations</p>
            </div>
        </div>
    </div>

    <div class="tabs">

        <div class="container">
            <ul id="tabs-nav" class="tabNavigation">
                <li><a href="#tab1">Services</a></li>
                <li><a href="#tab2">About</a></li>
            </ul>
        </div>

        <div id="tabs-content" class="tabContainer">
            <div id="tab1" class="tab-content">
                <div class="container">

                    <div class="block">
                        <div class="item">
                            <div class="image">
                                <img src="img/catalog/services/1.png" alt="" />
                            </div>

                            <h4>Gotenberg PDF Converter</h4>
                            <p>A stateless API for converting HTML, Markdown and Office documents to PDF.</p>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/catalog/services/2.png" alt="" />
                            </div>

                            <h4>Apache Tika</h4>
                            <p>A stateless API for converting HTML, Markdown and Office documents to PDF.</p>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/catalog/services/3.png" alt="" />
                            </div>

                            <h4>Gemini Facial Recognition</h4>
                            <p>Gemini is facial-recognition software which compares a person's face with his/her ID
                                photo in real time.</p>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/catalog/services/4.png" alt="" />
                            </div>

                            <h4>Opencage Geocoder</h4>
                            <p>An API to convert coordinates to and from places</p>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/catalog/services/5.png" alt="" />
                            </div>

                            <h4>Simple Time Service</h4>
                            <p>Simple time Service by Arbalo returns the current time in many different formats</p>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/catalog/services/6.png" alt="" />
                            </div>

                            <h4>Swiss QR-Bill</h4>
                            <p>The Code Block QR Service guarantees that it complies with the requirements.</p>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/catalog/services/7.png" alt="" />
                            </div>

                            <h4>JSON To Excel Converter</h4>
                            <p>By providing JSON data this can be converted into Excel spreadsheets</p>
                        </div>

                    </div>
                </div>
            </div>
            <div id="tab2" class="tab-content">
                <div class="container">
                    <div class="block">
                        <div class="item">
                            <h4>Cloud Service Broker</h4>
                            <p>Software is everywhere today and its importance is constantly growing. Modern software
                                development breaks systems into pieces that are implemented as reusable services. IT
                                organisations are relying on an increasing number of third party services hosted in the
                                cloud.
                                <br><br>
                                But the landscape today does not - and can not - deliver on these promises.Cloud
                                services are supposed to be rewriting the way IT services are delivered – but if it is
                                going to happen, we need to have new standards that can bring the full benefits of
                                distributed services to end user organisations. IT Organisations now expect governance
                                over their third party integrations and Cloud Service Brokerages are the missing link
                                between Service Providers and Service Consumers.
                                <br><br>
                                By providing a universal marketplace for cloud services, which can be purchased from a
                                single source without dependence on a single provider, Cloud Service Brokers can now
                                enable IT organisations to unify private, public and hybrid cloud consumption. Brokers
                                simplify interfaces and integration to those services and automated brokerage platforms
                                can deliver the best rates and performance levels depending on business needs.</p>
                        </div>
                        <div class="item">
                            <p>This rapid growth has been driven by the promises to reduce upfront costs; simplify
                                operations; reduce maintenance efforts and the need to quickly respond to changing
                                business requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduleBlock">
        <div class="container">
            <h2 class="title">Start using <span>Arbalo</span> today</h2>
            <a href="" class="btn medium">Try Now</a>

            <p>First 30 days are Free</p>

        </div>
    </div>

    <div class="subscribeBlock">
        <div class="container">
            <h2 class="title">Subscribe To News</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>


            <form class="subscribeForm">
                <input type="email" placeholder="Email">
                <input type="submit" value="Send">

                <div>
                    <input id="privacy" type="checkbox">
                    <label for="privacy">I agree to the <a href="privacy.html">Privacy Policy</a></label>
                </div>
            </form>

        </div>
    </div>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>