<% var data = {
    title: "Main | Arbalo"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="contactPage">
    <div class="header">
        <div class="container">
            <div class="block">
                <div class="typedString">
                    <div id="typed-string">
                        <h1 class="title">Contact Us</h1>
                    </div>
                    <h1 class="title" id="typed"></h1>
                </div>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis lorem
                    pharetra, quam.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team">
            <div class="block">
                <div class="item">
                    <div class="image">
                        <img src="img/contact/team1.jpg" alt="">
                    </div>
                    <div class="caption">
                        <p class="name">Jean-Marc Hensch</p>
                        <div>
                            <p class="position">Communicator</p>
                            <a href="" class="link">
                                <img src="img/contact/linkedin-logo.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/contact/team2.jpg" alt="">
                    </div>
                    <div class="caption">
                        <p class="name">Bruno Kaiser</p>
                        <div>
                            <p class="position">Brain </p>
                            <a href="" class="link">
                                <img src="img/contact/linkedin-logo.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/contact/team3.jpg" alt="">
                    </div>
                    <div class="caption">
                        <p class="name">Ewan Jones</p>
                        <div>
                            <p class="position">Techie</p>
                            <a href="" class="link">
                                <img src="img/contact/linkedin-logo.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="img/contact/team4.jpg" alt="">
                    </div>
                    <div class="caption">
                        <p class="name">Marc Hofer</p>
                        <div>
                            <p class="position">Manager</p>
                            <a href="" class="link">
                                <img src="img/contact/linkedin-logo.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contactForm">
            <h2 class="title">Get In Touch With Us</h2>

            <div class="block">
                <div class="item">
                    <img src="img/contact/map.jpg" alt="" id="map">
                    <div class="info">
                        <h3>Where To Find Us</h3>
                        <p class="title">Address</p>
                        <p>Arbalo AG
                            Hardturmstr. 261
                            CH-8005 Zürich</p>
                        <p>CHE-469.554.635
                            IANA OID: 53707</p>
                        <p class="title">Email</p>
                        <p>info@arbalo.ch</p>

                        <div class="social">
                            <a href="#"><img src="img/contact/twitter-logo-button.svg" alt=""></a>
                            <a href="#"><img src="img/contact/linkedin-logo-button.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <form action="">
                        <label>
                            First Name
                            <input type="text" placeholder="Jonatan">
                        </label>
                        <label>
                            Last Name
                            <input type="text" placeholder="Helson">
                        </label>
                        <label>
                            Email
                            <input type="email" placeholder="you@example.com">
                        </label>
                        <label>
                            Message - Optional
                            <textarea></textarea>
                        </label>

                        <!-- <div class="checkbox">
                            <label for="agreeCheckbox">I agree to the Privacy Policy</label>
                            <input type="checkbox">
                        </div> -->

                        <input type="submit" class="btn" value="Send">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>