<% var data = {
  title: "Main | Arbalo"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="main">
  <div class="header">
    <div class="container">
      <div class="wrapper">
        <div class="caption">
          <div class="typedString">
            <div id="typed-string">
              <h1 class="title">The Marketplace For Software Parts</h1>
            </div>
            <h1 class="title" id="typed"></h1>
          </div>
          <p class="subtitle">Develops and operates a cloud service broker platform</p>
          <a class="btn large" href="">Explore</a>
        </div>

        <div class="image">
          <video autoplay muted class="mainBg">
            <source src="img/main_bg.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>

  <div class="textBlock">
    <div class="bg-dots"></div>
    <div class="bg-dots-2"></div>
    <div class="bg-dots-3"></div>
    <div class="container">
      <div class="block">

        <div class="item">
          <h3 class="title">Full Transparency</h3>
          <p>See every transaction used, the prices charged, the applicable open source licenses, the services etc.</p>
        </div>
        <div class="item">
          <h3 class="title">Rapid Setup Of Services</h3>
          <p>Register once, find a multitude of services from different cloud providers in the catalog, compare the
            services.</p>
        </div>
        <div class="item">
          <h3 class="title">Gain a Competitive Edge</h3>
          <p>Be faster to develop your own solution by reusing already existing and quickly integratable services </p>
        </div>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <h2 class="title">Our Services</h2>
      <div class="block">

        <div class="item">
          <p class="count">01</p>
          <div class="icon">
            <svg width="107" height="87" viewBox="0 0 107 87" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.3833 33.5965C13.3833 33.9265 13.5595 34.243 13.873 34.4764C14.1865 34.7097 14.6117 34.8409 15.055 34.8409H23.4137H31.7724C31.9927 34.8418 32.2111 34.8102 32.415 34.7481C32.6188 34.686 32.8042 34.5945 32.9604 34.4788C33.1166 34.3632 33.2406 34.2257 33.3252 34.0743C33.4098 33.9229 33.4533 33.7605 33.4533 33.5965C33.4533 33.4325 33.4098 33.2702 33.3252 33.1188C33.2406 32.9673 33.1166 32.8299 32.9604 32.7142C32.8042 32.5986 32.6188 32.5071 32.415 32.4449C32.2111 32.3828 31.9927 32.3513 31.7724 32.3522H15.055C14.6117 32.3522 14.1865 32.4833 13.873 32.7166C13.5594 32.95 13.3833 33.2665 13.3833 33.5965Z"
                fill="white" />
              <path
                d="M7.81607 34.8409C7.99973 34.8418 8.18178 34.8102 8.35176 34.7481C8.52173 34.686 8.67628 34.5945 8.8065 34.4788C8.93673 34.3632 9.04008 34.2257 9.1106 34.0743C9.18111 33.9229 9.21742 33.7605 9.21742 33.5965C9.21742 33.4325 9.18111 33.2702 9.1106 33.1188C9.04008 32.9673 8.93673 32.8299 8.8065 32.7142C8.67628 32.5986 8.52173 32.5071 8.35176 32.4449C8.18178 32.3828 7.99973 32.3513 7.81607 32.3522H6.42235C6.23868 32.3513 6.05663 32.3828 5.88666 32.4449C5.71668 32.5071 5.56214 32.5986 5.43191 32.7142C5.30168 32.8299 5.19834 32.9673 5.12782 33.1188C5.0573 33.2702 5.021 33.4325 5.021 33.5965C5.021 33.7605 5.0573 33.9229 5.12782 34.0743C5.19834 34.2257 5.30168 34.3632 5.43191 34.4788C5.56214 34.5945 5.71668 34.686 5.88666 34.7481C6.05663 34.8102 6.23868 34.8418 6.42235 34.8409H7.81607Z"
                fill="white" />
              <path
                d="M33.4441 50.188C33.4441 49.8579 33.268 49.5414 32.9545 49.3081C32.641 49.0747 32.2158 48.9436 31.7724 48.9436H15.055C14.6117 48.9436 14.1865 49.0747 13.8729 49.3081C13.5594 49.5414 13.3833 49.8579 13.3833 50.188C13.3833 50.518 13.5594 50.8345 13.8729 51.0679C14.1865 51.3012 14.6117 51.4323 15.055 51.4323H31.7724C32.2158 51.4323 32.641 51.3012 32.9545 51.0678C33.268 50.8345 33.4441 50.518 33.4441 50.188Z"
                fill="white" />
              <path
                d="M8.37403 48.9436H6.70215C6.25874 48.9436 5.83349 49.0747 5.51996 49.3081C5.20642 49.5414 5.03027 49.8579 5.03027 50.188C5.03027 50.518 5.20642 50.8345 5.51996 51.0679C5.83349 51.3012 6.25874 51.4323 6.70215 51.4323H8.37403C8.81745 51.4323 9.24269 51.3012 9.55623 51.0679C9.86977 50.8345 10.0459 50.518 10.0459 50.188C10.0459 49.8579 9.86977 49.5414 9.55623 49.3081C9.24269 49.0747 8.81745 48.9436 8.37403 48.9436Z"
                fill="white" />
              <path
                d="M33.4439 41.8923C33.4439 41.5623 33.2677 41.2458 32.9542 41.0125C32.6407 40.7791 32.2155 40.648 31.7722 40.648H1.68089C1.46059 40.6471 1.24222 40.6786 1.03834 40.7407C0.83446 40.8029 0.649088 40.8944 0.492882 41.01C0.336676 41.1256 0.212717 41.2631 0.128131 41.4145C0.0435448 41.566 0 41.7283 0 41.8923C0 42.0563 0.0435448 42.2187 0.128131 42.3701C0.212717 42.5215 0.336676 42.659 0.492882 42.7746C0.649088 42.8902 0.83446 42.9818 1.03834 43.0439C1.24222 43.106 1.46059 43.1375 1.68089 43.1366H31.7722C32.2155 43.1366 32.6407 43.0055 32.9542 42.7722C33.2677 42.5388 33.4439 42.2223 33.4439 41.8923Z"
                fill="white" />
              <path
                d="M72.2785 39.0269L82.9969 30.3185C83.3391 30.0397 83.5559 29.6375 83.5996 29.2002C83.6434 28.763 83.5105 28.3264 83.2302 27.9862C82.9499 27.6461 82.5451 27.4302 82.1046 27.386C81.6641 27.3418 81.2239 27.4728 80.8807 27.7504L70.167 36.4551C71.0101 37.1898 71.7237 38.059 72.2785 39.0269Z"
                fill="white" />
              <path
                d="M63.1465 49.7298C66.6088 49.7298 69.4156 46.9443 69.4156 43.5081C69.4156 40.0718 66.6088 37.2863 63.1465 37.2863C59.6842 37.2863 56.8774 40.0718 56.8774 43.5081C56.8774 46.9443 59.6842 49.7298 63.1465 49.7298Z"
                fill="white" />
              <path
                d="M61.0186 4.97744C62.4036 4.97744 63.5264 3.8632 63.5264 2.48872C63.5264 1.11424 62.4036 0 61.0186 0C59.6335 0 58.5107 1.11424 58.5107 2.48872C58.5107 3.8632 59.6335 4.97744 61.0186 4.97744Z"
                fill="white" />
              <path
                d="M94.5078 18.9774C95.8929 18.9774 97.0156 17.8632 97.0156 16.4887C97.0156 15.1142 95.8929 14 94.5078 14C93.1228 14 92 15.1142 92 16.4887C92 17.8632 93.1228 18.9774 94.5078 18.9774Z"
                fill="white" />
              <path
                d="M93.7708 15.2008C93.4385 15.4921 93.2364 15.9025 93.2087 16.3416C93.1811 16.7808 93.3303 17.2129 93.6235 17.543C97.6004 21.9957 100.522 27.2762 102.172 32.9966C103.823 38.7169 104.161 44.7317 103.162 50.5988C102.163 56.466 99.8524 62.0364 96.3995 66.9007C92.9466 71.7651 88.4394 75.7997 83.2092 78.708C77.9789 81.6164 72.1586 83.3246 66.1758 83.7072C60.1931 84.0897 54.2 83.1368 48.637 80.9186C43.074 78.7003 38.0825 75.2731 34.0293 70.8887C29.9761 66.5043 26.9642 61.2742 25.215 55.5828H21.7417C23.5128 61.8166 26.676 67.5743 30.9964 72.4284C35.3169 77.2825 40.6836 81.1082 46.698 83.6214C52.7124 86.1346 59.22 87.2708 65.7374 86.9455C72.2549 86.6203 78.6148 84.842 84.3449 81.7426C90.0749 78.6433 95.0279 74.3026 98.836 69.0428C102.644 63.7831 105.209 57.7395 106.342 51.3608C107.474 44.9821 107.143 38.4322 105.375 32.1975C103.607 25.9628 100.447 20.2036 96.1289 15.3474C95.9838 15.184 95.8077 15.0505 95.6107 14.9547C95.4136 14.8588 95.1995 14.8025 94.9804 14.7889C94.7614 14.7753 94.5419 14.8046 94.3343 14.8753C94.1267 14.946 93.9352 15.0566 93.7708 15.2008Z"
                fill="white" />
              <path
                d="M39.7793 11.8534C33.795 16.2389 29.1545 22.1866 26.3744 29.0345H22.7832C25.6593 21.2753 30.7174 14.4975 37.3576 9.50516C43.9978 4.51281 51.9414 1.51534 60.2462 0.868286L60.2692 4.19524C52.8567 4.81684 45.7635 7.46795 39.7793 11.8534Z"
                fill="white" />
              <path
                d="M61.8892 73.8309V78.8083C61.8892 79.2481 62.0213 79.6698 62.2564 79.9808C62.4916 80.2918 62.8105 80.4665 63.1431 80.4665C63.4756 80.4665 63.7946 80.2918 64.0297 79.9808C64.2649 79.6698 64.397 79.2481 64.397 78.8083V73.8309C64.397 73.3911 64.2649 72.9694 64.0297 72.6584C63.7946 72.3474 63.4756 72.1727 63.1431 72.1727C62.8105 72.1727 62.4916 72.3474 62.2564 72.6584C62.0213 72.9694 61.8892 73.3911 61.8892 73.8309Z"
                fill="white" />
              <path
                d="M93.6344 44.7961H98.6472C99.089 44.7943 99.5119 44.6624 99.8235 44.4292C100.135 44.1961 100.31 43.8806 100.31 43.5517C100.31 43.2229 100.135 42.9074 99.8235 42.6742C99.5119 42.4411 99.089 42.3092 98.6472 42.3074H93.6344C93.1926 42.3092 92.7697 42.4411 92.4581 42.6742C92.1466 42.9074 91.9717 43.2229 91.9717 43.5517C91.9717 43.8806 92.1466 44.1961 92.4581 44.4292C92.7697 44.6624 93.1926 44.7943 93.6344 44.7961Z"
                fill="white" />
              <path
                d="M85.5987 70.069C85.6974 70.223 85.8146 70.3451 85.9436 70.4284C86.0726 70.5117 86.2108 70.5545 86.3504 70.5544C86.49 70.5544 86.6282 70.5114 86.7572 70.428C86.8861 70.3446 87.0033 70.2224 87.1019 70.0684C87.2006 69.9143 87.2789 69.7315 87.3322 69.5303C87.3856 69.329 87.4131 69.1134 87.413 68.8956C87.413 68.6778 87.3855 68.4622 87.332 68.261C87.2786 68.0598 87.2002 67.8771 87.1015 67.7231L84.8471 64.2041C84.7483 64.0502 84.6311 63.9281 84.5021 63.8448C84.3732 63.7615 84.2349 63.7187 84.0953 63.7188C83.9558 63.7188 83.8175 63.7618 83.6886 63.8452C83.5597 63.9286 83.4425 64.0508 83.3438 64.2048C83.2451 64.3589 83.1669 64.5417 83.1135 64.7429C83.0601 64.9442 83.0327 65.1598 83.0327 65.3776C83.0328 65.5954 83.0603 65.811 83.1137 66.0122C83.1672 66.2134 83.2455 66.3962 83.3443 66.5501L85.5987 70.069Z"
                fill="white" />
            </svg>

          </div>
          <div class="caption">
            <h3>Quick Provisioning</h3>
            <p>Register once and provision services within minutes. Much easier to integrate services by yourself.</p>
          </div>
        </div>

        <div class="item">
          <p class="count">02</p>
          <div class="icon">
            <svg width="114" height="80" viewBox="0 0 114 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M38.2992 38.1141C38.1995 37.9156 38.1995 37.8164 38.1995 37.6179C38.1995 37.4193 38.1995 37.3201 38.2992 37.1216C38.399 37.0223 38.4987 36.8238 38.5984 36.7246C38.7979 36.6253 38.8976 36.5261 39.0971 36.4268C39.2966 36.3275 39.4961 36.3275 39.6955 36.3275H41.1916C41.3911 36.3275 41.5906 36.3275 41.79 36.4268C41.9895 36.5261 42.189 36.6253 42.2887 36.7246C42.3885 36.8238 42.4882 36.9231 42.5879 37.1216C42.6877 37.3201 42.6877 37.4193 42.6877 37.6179C42.6877 37.8164 42.6877 37.9156 42.5879 38.1141C42.4882 38.2134 42.3885 38.4119 42.2887 38.5112C42.0892 38.6104 41.9895 38.7097 41.79 38.8089C41.5906 38.9082 41.3911 38.9082 41.1916 38.9082H39.6955C39.4961 38.9082 39.2966 38.9082 39.0971 38.8089C38.8976 38.7097 38.6982 38.6104 38.5984 38.5112C38.4987 38.4119 38.399 38.3127 38.2992 38.1141Z"
                fill="#00ABE6" />
              <path
                d="M43.4856 54.9876C43.4856 55.2854 43.2861 55.6824 42.9869 55.8809C42.6877 56.1787 42.2887 56.2779 41.79 56.2779H39.9947C39.5958 56.2779 39.0971 56.0794 38.7979 55.8809C38.4987 55.6824 38.2992 55.2854 38.2992 54.9876C38.2992 54.6898 38.4987 54.2928 38.7979 54.0943C39.0971 53.7965 39.4961 53.6973 39.9947 53.6973H41.79C42.2887 53.6973 42.6877 53.7965 42.9869 54.0943C43.2861 54.2928 43.4856 54.6898 43.4856 54.9876Z"
                fill="#00ABE6" />
              <path
                d="M68.1207 54.9876C68.1207 55.3846 67.9213 55.6824 67.622 55.8809C67.3228 56.1787 66.9239 56.2779 66.4252 56.2779H48.8714C48.4724 56.2779 47.9738 56.0794 47.6745 55.8809C47.3753 55.6824 47.1759 55.2854 47.1759 54.9876C47.1759 54.6898 47.3753 54.2928 47.6745 54.0943C47.9738 53.7965 48.3727 53.6973 48.8714 53.6973H66.4252C66.8241 53.6973 67.3228 53.8958 67.622 54.0943C67.9213 54.2928 68.1207 54.6898 68.1207 54.9876Z"
                fill="#00ABE6" />
              <path
                d="M68.1207 46.2531C68.1207 46.6501 67.9213 46.9479 67.622 47.1464C67.3228 47.4442 66.9239 47.5434 66.4252 47.5434H34.8084C34.5092 47.5434 34.3097 47.5434 34.1102 47.4442C33.9108 47.3449 33.7113 47.2457 33.5118 47.1464C33.3123 47.0471 33.2126 46.9479 33.1129 46.7494C33.0131 46.5509 33.0131 46.4516 33.0131 46.2531C33.0131 46.0546 33.0131 45.9553 33.1129 45.7568C33.2126 45.6576 33.3123 45.4591 33.5118 45.3598C33.7113 45.2605 33.9108 45.1613 34.1102 45.062C34.3097 44.9628 34.6089 44.9628 34.8084 44.9628H66.4252C66.8241 44.9628 67.3228 45.1613 67.622 45.3598C67.9213 45.5583 68.1207 45.9553 68.1207 46.2531Z"
                fill="#00ABE6" />
              <path
                d="M68.021 37.1216C68.1207 37.3201 68.1207 37.4193 68.1207 37.6179C68.1207 37.8164 68.1207 37.9156 68.021 38.1141C67.9213 38.2134 67.8215 38.4119 67.622 38.5112C67.4226 38.6104 67.2231 38.7097 67.0236 38.8089C66.8242 38.9082 66.5249 38.9082 66.3255 38.9082H48.7717C48.3727 38.9082 47.874 38.7097 47.5748 38.5112C47.2756 38.3126 47.0761 37.9156 47.0761 37.6179C47.0761 37.2208 47.2756 36.9231 47.5748 36.7246C47.874 36.4268 48.273 36.3275 48.7717 36.3275H66.3255C66.6247 36.3275 66.8242 36.3275 67.0236 36.4268C67.2231 36.5261 67.4226 36.6253 67.622 36.7246C67.8215 36.8238 67.9213 36.9231 68.021 37.1216Z"
                fill="#00ABE6" />
              <path
                d="M12.7664 8.933C11.769 8.933 10.9711 9.72705 10.9711 10.7196C10.9711 11.7122 11.769 12.5062 12.7664 12.5062C13.7638 12.5062 14.4619 11.7122 14.4619 10.7196C14.4619 9.72705 13.664 8.933 12.7664 8.933ZM18.6509 8.83375C17.6535 8.83375 16.8556 9.62779 16.8556 10.6203C16.8556 11.6129 17.6535 12.4069 18.6509 12.4069C19.6483 12.4069 20.4462 11.6129 20.4462 10.6203C20.3465 9.72705 19.6483 8.83375 18.6509 8.83375ZM24.2362 8.73449C23.2388 8.73449 22.4409 9.52853 22.4409 10.5211C22.4409 11.5136 23.2388 12.3077 24.2362 12.3077C25.2336 12.3077 26.0315 11.5136 26.0315 10.5211C26.0315 9.52853 25.2336 8.73449 24.2362 8.73449ZM24.2362 8.73449C23.2388 8.73449 22.4409 9.52853 22.4409 10.5211C22.4409 11.5136 23.2388 12.3077 24.2362 12.3077C25.2336 12.3077 26.0315 11.5136 26.0315 10.5211C26.0315 9.52853 25.2336 8.73449 24.2362 8.73449ZM18.6509 8.83375C17.6535 8.83375 16.8556 9.62779 16.8556 10.6203C16.8556 11.6129 17.6535 12.4069 18.6509 12.4069C19.6483 12.4069 20.4462 11.6129 20.4462 10.6203C20.3465 9.72705 19.6483 8.83375 18.6509 8.83375ZM12.7664 8.933C11.769 8.933 10.9711 9.72705 10.9711 10.7196C10.9711 11.7122 11.769 12.5062 12.7664 12.5062C13.7638 12.5062 14.4619 11.7122 14.4619 10.7196C14.4619 9.72705 13.664 8.933 12.7664 8.933ZM24.2362 8.73449C23.2388 8.73449 22.4409 9.52853 22.4409 10.5211C22.4409 11.5136 23.2388 12.3077 24.2362 12.3077C25.2336 12.3077 26.0315 11.5136 26.0315 10.5211C26.0315 9.52853 25.2336 8.73449 24.2362 8.73449ZM18.6509 8.83375C17.6535 8.83375 16.8556 9.62779 16.8556 10.6203C16.8556 11.6129 17.6535 12.4069 18.6509 12.4069C19.6483 12.4069 20.4462 11.6129 20.4462 10.6203C20.3465 9.72705 19.6483 8.83375 18.6509 8.83375ZM12.7664 8.933C11.769 8.933 10.9711 9.72705 10.9711 10.7196C10.9711 11.7122 11.769 12.5062 12.7664 12.5062C13.7638 12.5062 14.4619 11.7122 14.4619 10.7196C14.4619 9.72705 13.664 8.933 12.7664 8.933ZM12.7664 8.933C11.769 8.933 10.9711 9.72705 10.9711 10.7196C10.9711 11.7122 11.769 12.5062 12.7664 12.5062C13.7638 12.5062 14.4619 11.7122 14.4619 10.7196C14.4619 9.72705 13.664 8.933 12.7664 8.933ZM18.6509 8.83375C17.6535 8.83375 16.8556 9.62779 16.8556 10.6203C16.8556 11.6129 17.6535 12.4069 18.6509 12.4069C19.6483 12.4069 20.4462 11.6129 20.4462 10.6203C20.3465 9.72705 19.6483 8.83375 18.6509 8.83375ZM24.2362 8.73449C23.2388 8.73449 22.4409 9.52853 22.4409 10.5211C22.4409 11.5136 23.2388 12.3077 24.2362 12.3077C25.2336 12.3077 26.0315 11.5136 26.0315 10.5211C26.0315 9.52853 25.2336 8.73449 24.2362 8.73449ZM24.2362 8.73449C23.2388 8.73449 22.4409 9.52853 22.4409 10.5211C22.4409 11.5136 23.2388 12.3077 24.2362 12.3077C25.2336 12.3077 26.0315 11.5136 26.0315 10.5211C26.0315 9.52853 25.2336 8.73449 24.2362 8.73449ZM18.6509 8.83375C17.6535 8.83375 16.8556 9.62779 16.8556 10.6203C16.8556 11.6129 17.6535 12.4069 18.6509 12.4069C19.6483 12.4069 20.4462 11.6129 20.4462 10.6203C20.3465 9.72705 19.6483 8.83375 18.6509 8.83375ZM12.7664 8.933C11.769 8.933 10.9711 9.72705 10.9711 10.7196C10.9711 11.7122 11.769 12.5062 12.7664 12.5062C13.7638 12.5062 14.4619 11.7122 14.4619 10.7196C14.4619 9.72705 13.664 8.933 12.7664 8.933Z"
                fill="#00ABE6" />
              <path
                d="M100.436 65.1117V66.799V72.9529C100.436 75.1365 98.6404 76.8238 96.5459 76.8238H8.17848C7.08136 76.8238 6.08399 76.4268 5.38583 75.6328C4.98688 75.2357 4.7874 74.8387 4.68766 74.6402C4.28871 73.8462 4.18898 73.1514 4.18898 72.8536V65.3102H0.698163V72.3573C0.698163 76.526 4.08924 80 8.37795 80H96.3464C100.535 80 104.026 76.6253 104.026 72.3573V67.196V65.1117H100.436Z"
                fill="#00ABE6" />
              <path
                d="M96.3464 0H8.37795C4.18898 0 0.698163 3.37469 0.698163 7.64268V43.4739V45.4591H4.18898V43.1762V19.6526H1.89501V16.6749H4.18898V7.1464C4.18898 4.96278 5.98425 3.17618 8.17848 3.17618H96.5459C98.7402 3.17618 100.436 4.96278 100.436 7.1464V16.6749H4.18898V19.6526H100.436V37.1216V38.4119H103.927V7.64268C104.026 3.37469 100.535 0 96.3464 0Z"
                fill="#00ABE6" />
              <path d="M4.18898 16.6749H1.89501V19.6526H4.18898V16.6749Z" fill="#00ABE6" />
              <path
                d="M68.1207 37.6179C68.1207 37.8164 68.1207 37.9156 68.021 38.1141C67.9213 38.2134 67.8215 38.4119 67.622 38.5112C67.4226 38.6104 67.2231 38.7097 67.0236 38.8089C66.8242 38.9082 66.5249 38.9082 66.3255 38.9082H48.7717C48.3727 38.9082 47.874 38.7097 47.5748 38.5112C47.2756 38.3126 47.0761 37.9156 47.0761 37.6179C47.0761 37.2208 47.2756 36.9231 47.5748 36.7246C47.874 36.4268 48.273 36.3275 48.7717 36.3275H66.3255C66.6247 36.3275 66.8242 36.3275 67.0236 36.4268C67.2231 36.5261 67.4226 36.6253 67.622 36.7246C67.8215 36.8238 67.9213 36.9231 68.021 37.1216C68.1207 37.3201 68.1207 37.4193 68.1207 37.6179Z"
                fill="#00ABE6" />
              <path
                d="M42.6877 37.6179C42.6877 37.8164 42.6877 37.9156 42.5879 38.1141C42.4882 38.2134 42.3885 38.4119 42.2887 38.5112C42.0892 38.6104 41.9895 38.7097 41.79 38.8089C41.5906 38.9082 41.3911 38.9082 41.1916 38.9082H39.6955C39.4961 38.9082 39.2966 38.9082 39.0971 38.8089C38.8976 38.7097 38.6982 38.6104 38.5984 38.5112C38.4987 38.4119 38.399 38.3127 38.2992 38.1141C38.1995 37.9156 38.1995 37.8164 38.1995 37.6179C38.1995 37.4193 38.1995 37.3201 38.2992 37.1216C38.399 37.0223 38.4987 36.8238 38.5984 36.7246C38.7979 36.6253 38.8976 36.5261 39.0971 36.4268C39.2966 36.3275 39.4961 36.3275 39.6955 36.3275H41.1916C41.3911 36.3275 41.5906 36.3275 41.79 36.4268C41.9895 36.5261 42.189 36.6253 42.2887 36.7246C42.3885 36.8238 42.4882 36.9231 42.5879 37.1216C42.6877 37.3201 42.6877 37.4193 42.6877 37.6179Z"
                fill="#00ABE6" />
              <path
                d="M68.1207 54.9876C68.1207 55.3846 67.9213 55.6824 67.622 55.8809C67.3228 56.1787 66.9239 56.2779 66.4252 56.2779H48.8714C48.4724 56.2779 47.9738 56.0794 47.6745 55.8809C47.3753 55.6824 47.1759 55.2854 47.1759 54.9876C47.1759 54.6898 47.3753 54.2928 47.6745 54.0943C47.9738 53.7965 48.3727 53.6973 48.8714 53.6973H66.4252C66.8241 53.6973 67.3228 53.8958 67.622 54.0943C67.9213 54.2928 68.1207 54.6898 68.1207 54.9876Z"
                fill="#00ABE6" />
              <path
                d="M43.4856 54.9876C43.4856 55.2854 43.2861 55.6824 42.9869 55.8809C42.6877 56.1787 42.2887 56.2779 41.79 56.2779H39.9947C39.5958 56.2779 39.0971 56.0794 38.7979 55.8809C38.4987 55.6824 38.2992 55.2854 38.2992 54.9876C38.2992 54.6898 38.4987 54.2928 38.7979 54.0943C39.0971 53.7965 39.4961 53.6973 39.9947 53.6973H41.79C42.2887 53.6973 42.6877 53.7965 42.9869 54.0943C43.2861 54.2928 43.4856 54.6898 43.4856 54.9876Z"
                fill="#00ABE6" />
              <path
                d="M68.1207 46.2531C68.1207 46.6501 67.9213 46.9479 67.622 47.1464C67.3228 47.4442 66.9239 47.5434 66.4252 47.5434H34.8084C34.5092 47.5434 34.3097 47.5434 34.1102 47.4442C33.9108 47.3449 33.7113 47.2457 33.5118 47.1464C33.3123 47.0471 33.2126 46.9479 33.1129 46.7494C33.0131 46.5509 33.0131 46.4516 33.0131 46.2531C33.0131 46.0546 33.0131 45.9553 33.1129 45.7568C33.2126 45.6576 33.3123 45.4591 33.5118 45.3598C33.7113 45.2605 33.9108 45.1613 34.1102 45.062C34.3097 44.9628 34.6089 44.9628 34.8084 44.9628H66.4252C66.8241 44.9628 67.3228 45.1613 67.622 45.3598C67.9213 45.5583 68.1207 45.9553 68.1207 46.2531Z"
                fill="#00ABE6" />
              <path
                d="M14.4619 10.7196C14.4619 11.7122 13.664 12.5062 12.7664 12.5062C11.769 12.5062 10.9711 11.7122 10.9711 10.7196C10.9711 9.72705 11.769 8.933 12.7664 8.933C13.664 8.933 14.4619 9.72705 14.4619 10.7196Z"
                fill="#00ABE6" />
              <path
                d="M20.3465 10.6203C20.3465 11.6129 19.5486 12.4069 18.5512 12.4069C17.5538 12.4069 16.7559 11.6129 16.7559 10.6203C16.7559 9.62779 17.5538 8.83375 18.5512 8.83375C19.6483 8.83375 20.3465 9.72705 20.3465 10.6203Z"
                fill="#00ABE6" />
              <path
                d="M26.0315 10.5211C26.0315 11.5136 25.2336 12.3077 24.2362 12.3077C23.2388 12.3077 22.4409 11.5136 22.4409 10.5211C22.4409 9.52853 23.2388 8.73449 24.2362 8.73449C25.2336 8.73449 26.0315 9.52853 26.0315 10.5211Z"
                fill="#00ABE6" />
              <path
                d="M5.08661 45.062C5.08661 45.8561 4.7874 46.4516 4.18898 46.9479C4.18898 46.9479 4.18898 46.9479 4.18898 47.0471C3.79003 47.3449 3.39108 47.5434 2.89239 47.5434C2.79265 47.5434 2.69291 47.5434 2.59318 47.5434C1.19685 47.5434 0.099737 46.4516 0.099737 45.062C0.099737 44.4665 0.299212 43.871 0.698163 43.4739C1.19685 42.9777 1.79527 42.5806 2.59318 42.5806C2.69291 42.5806 2.79265 42.5806 2.89239 42.5806C3.39108 42.6799 3.88976 42.8784 4.18898 43.1762C4.68766 43.6725 5.08661 44.3672 5.08661 45.062Z"
                fill="#00ABE6" />
              <path
                d="M4.98688 63.8213C4.98688 64.5161 4.68766 65.2109 4.18898 65.7072C3.88976 66.005 3.39108 66.2035 2.89239 66.3027C2.79265 66.3027 2.69291 66.3027 2.49344 66.3027C1.79528 66.3027 1.09711 66.005 0.598425 65.5087C0.199474 65.1117 0 64.5161 0 63.8213C0 62.4318 1.09711 61.3399 2.49344 61.3399C2.59318 61.3399 2.69291 61.3399 2.89239 61.3399C3.39108 61.4392 3.79003 61.6377 4.18898 61.9355C4.68766 62.4318 4.98688 63.0273 4.98688 63.8213Z"
                fill="#00ABE6" />
              <path
                d="M104.026 37.1216C103.428 37.0223 102.829 37.0223 102.231 37.0223C102.031 37.0223 101.832 37.0223 101.633 37.0223C101.234 37.0223 100.835 37.0223 100.436 37.1216C94.7507 37.9156 90.3622 42.7792 90.3622 48.7345C90.3622 51.1166 91.0604 53.3002 92.2572 55.0868V73.9454L100.436 66.799L101.633 65.8064L102.031 65.5087L104.026 67.196L111.906 73.9454V55.3846C113.202 53.4988 114 51.2159 114 48.7345C114 42.8784 109.612 38.0149 104.026 37.1216ZM109.412 68.8834L104.226 63.8213L102.231 61.9355L99.4383 64.7146L95.1496 68.8834V58.0645C95.9475 58.66 96.7454 59.1563 97.7428 59.5533C98.9396 60.0496 100.336 60.3474 101.732 60.4466C101.932 60.4466 102.131 60.4466 102.331 60.4466C103.328 60.4466 104.325 60.3474 105.223 60.1489C106.819 59.7519 108.315 59.0571 109.512 58.0645V68.8834H109.412ZM102.231 57.469C102.031 57.469 101.832 57.469 101.633 57.469C97.0446 57.1712 93.3543 53.3995 93.3543 48.7345C93.3543 44.0695 97.0446 40.2978 101.633 40C101.832 40 102.031 40 102.231 40C107.118 40 111.008 43.9702 111.008 48.7345C111.008 53.598 107.018 57.469 102.231 57.469Z"
                fill="#00ABE6" />
              <path d="M4.18898 16.6749H1.89501V19.6526H4.18898V16.6749Z" fill="#00ABE6" />
            </svg>

          </div>
          <div class="caption">
            <h3>Consolidated Licensing</h3>
            <p>Be sure to always be correctly licensed.
              No need anymore for contract negotiations and license administration.</p>
          </div>
        </div>

        <div class="item">
          <p class="count">03</p>
          <div class="icon">
            <svg width="71" height="69" viewBox="0 0 71 69" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M66.9 0H41.8C40.1 0 38.7 1.4 38.7 3.1V28.2C38.7 29.9 40.1 31.3 41.8 31.3H66.9C68.6 31.3 70 29.9 70 28.2V3.1C70 1.4 68.6 0 66.9 0ZM41.8 28.2V3.1H66.9V28.2H41.8Z"
                fill="#00ABE6" />
              <path
                d="M29.2 37.6H4.1C2.4 37.6 1 39 1 40.8V65.9C1 67.6 2.4 69 4.1 69H29.2C30.9 69 32.3 67.6 32.3 65.9V40.8C32.4 39.1 31 37.6 29.2 37.6ZM29.2 65.9H4.1V40.8H29.2V65.9Z"
                fill="#00ABE6" />
              <path
                d="M29.2 0H4.1C2.4 0 1 1.4 1 3.1V6H4.1C4.1 4.3 4.1 3.1 4.1 3.1H29.2V28.2H4.1C4.1 28.2 4.1 23.4 4.1 18H1V28.2C1 29.9 2.4 31.3 4.1 31.3H29.2C30.9 31.3 32.3 29.9 32.3 28.2V3.1C32.4 1.4 31 0 29.2 0Z"
                fill="#00ABE6" />
              <path
                d="M66.9 56C66.9 61.3 66.9 65.9 66.9 65.9H41.8V40.8H66.9C66.9 40.8 66.9 42.1 66.9 44H70V40.8C70 39.1 68.6 37.7 66.9 37.7H41.8C40.1 37.7 38.7 39.1 38.7 40.8V65.9C38.7 67.6 40.1 69 41.8 69H66.9C68.6 69 70 67.6 70 65.9V56H66.9Z"
                fill="#00ABE6" />
              <path d="M2.5 10C3.9 10 5 8.9 5 7.5C5 6.1 3.9 5 2.5 5C1.1 5 0 6.1 0 7.5C0 8.9 1.1 10 2.5 10Z"
                fill="#00ABE6" />
              <path
                d="M2.5 20.2C3.9 20.2 5 19.1 5 17.7C5 16.3 3.9 15.2 2.5 15.2C1.1 15.2 0 16.3 0 17.7C0 19.1 1.1 20.2 2.5 20.2Z"
                fill="#00ABE6" />
              <path
                d="M68.5 58C69.9 58 71 56.9 71 55.5C71 54.1 69.9 53 68.5 53C67.1 53 66 54.1 66 55.5C66 56.9 67.1 58 68.5 58Z"
                fill="#00ABE6" />
              <path
                d="M68.5 46.9C69.9 46.9 71 45.8 71 44.5C71 43.2 69.9 42 68.5 42C67.1 42 66 43.1 66 44.4C66 45.7 67.1 46.9 68.5 46.9Z"
                fill="#00ABE6" />
            </svg>
          </div>
          <div class="caption">
            <h3>Expanding Catalog Edge</h3>
            <p>Find the best services matching your requirements. Query our service catalog based on functional
              categories, description and name, cloud service provider, ETC</p>
          </div>
        </div>

        <div class="item">
          <p class="count">04</p>
          <div class="icon">
            <svg width="103" height="86" viewBox="0 0 103 86" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M101.2 22.8H85.0999C84.5999 22.8 84.2 22.4 84.2 21.9C84.2 21.4 84.5999 21 85.0999 21H101.2C101.7 21 102.1 21.4 102.1 21.9C102.1 22.4 101.7 22.8 101.2 22.8Z"
                fill="#00ABE6" />
              <path
                d="M77.5999 22.8H75.2999C74.7999 22.8 74.3999 22.4 74.3999 21.9C74.3999 21.4 74.7999 21 75.2999 21H77.5999C78.0999 21 78.4999 21.4 78.4999 21.9C78.4999 22.4 78.0999 22.8 77.5999 22.8Z"
                fill="#00ABE6" />
              <path
                d="M101.5 9.40009H85.4C84.9 9.40009 84.5 9.00009 84.5 8.50009C84.5 8.00009 84.9 7.6001 85.4 7.6001H101.5C102 7.6001 102.4 8.00009 102.4 8.50009C102.4 8.90009 102 9.40009 101.5 9.40009Z"
                fill="#00ABE6" />
              <path
                d="M101.6 16.0002H75.0999C74.5999 16.0002 74.2 15.6002 74.2 15.1002C74.2 14.6002 74.5999 14.2002 75.0999 14.2002H101.6C102.1 14.2002 102.5 14.6002 102.5 15.1002C102.5 15.6002 102.1 16.0002 101.6 16.0002Z"
                fill="#00ABE6" />
              <path
                d="M77.9 9.40009H75.5999C75.0999 9.40009 74.7 9.00009 74.7 8.50009C74.7 8.00009 75.0999 7.6001 75.5999 7.6001H77.9C78.4 7.6001 78.7999 8.00009 78.7999 8.50009C78.7999 8.90009 78.4 9.40009 77.9 9.40009Z"
                fill="#00ABE6" />
              <path d="M59.4001 29.1001H27.2001V31.6001H59.4001V29.1001Z" fill="#00ABE6" />
              <path d="M59.3647 47.6604V29.1604H56.8647V47.6604H59.3647Z" fill="#00ABE6" />
              <path d="M58.3001 49.0001L53.6001 44.1001H62.6001L58.3001 49.0001Z" fill="#00ABE6" />
              <path d="M27.6 37L32.4001 41.9H23.3L27.6 37Z" fill="#00ABE6" />
              <path d="M59.2 54.5H27V57H59.2V54.5Z" fill="#00ABE6" />
              <path d="M29.1071 57.0014L29.1071 40.9014H26.6071L26.6071 57.0014H29.1071Z" fill="#00ABE6" />
              <path
                d="M81.4 32.5C82.7807 32.5 83.9 31.3807 83.9 30C83.9 28.6193 82.7807 27.5 81.4 27.5C80.0193 27.5 78.9 28.6193 78.9 30C78.9 31.3807 80.0193 32.5 81.4 32.5Z"
                fill="#00ABE6" />
              <path
                d="M79.7 31.1001C81.8 37.5001 82.2 44.6001 80.6 51.7001C75.8 72.6001 55 85.6001 34.1 80.8001C13.2 76.0001 0.200013 55.2001 5.00001 34.3001C9.80001 13.4001 30.6 0.400118 51.5 5.20012C56.3 6.30012 60.7 8.3001 64.6 10.9001L68.2 8.60011C63.6 5.20011 58.3 2.7001 52.5 1.4001C29.5 -3.8999 6.6 10.5001 1.3 33.5001C-4 56.5001 10.4 79.4001 33.4 84.7001C56.4 90.0001 79.3 75.6001 84.6 52.6001C86.5 44.4001 85.9 36.3001 83.3 28.9001L79.7 31.1001Z"
                fill="#00ABE6" />
              <path
                d="M66.4 12.3C67.7807 12.3 68.9 11.1808 68.9 9.80005C68.9 8.41934 67.7807 7.30005 66.4 7.30005C65.0193 7.30005 63.9 8.41934 63.9 9.80005C63.9 11.1808 65.0193 12.3 66.4 12.3Z"
                fill="#00ABE6" />
            </svg>



          </div>
          <div class="caption">
            <h3>Transactional Pricing</h3>
            <p>Get all the benefits of the Arbalo platform with a modest annual fee. Then pay only the successful
              transactions used.</p>
          </div>
        </div>

        <div class="item">
          <p class="count">05</p>
          <div class="icon">
            <svg width="88" height="83" viewBox="0 0 88 83" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11 13.7L11.4 15.3C17.3 35.6 28.3 54 43.4 68.9L44.5 70L45.6 68.9C60.4 53.7 71.1 35.1 76.6 14.7L77 13.1L75.4 12.7C54.7 7.6 33 7.8 12.4 13.3L11 13.7ZM73.2 15.4C67.9 34.2 58 51.4 44.5 65.6C30.7 51.6 20.6 34.6 14.9 15.9C34 11.1 54 10.9 73.2 15.4Z"
                fill="#00ABE6" />
              <path
                d="M52.8 21.5C49.5 24.5 42.3 32 42.3 32C42.3 32 39 28.5 37.3 27C36 26 32.8 26.7 31 28.5C29.2 30.3 28.5 33 29.5 34.8C31 36.4 34.4 39.7 34.4 39.7L42.3 47.5C42.3 47.5 58 31.5 60.5 29.3C61.6 28.3 62 24 60 22C58 20 53.9 20.5 52.8 21.5ZM42.3 43.1L39 39.8C39 39.8 34.5 35.5 32.1 33.3C31.8 33 31.7 31.3 32.5 30.5C33.3 29.7 34.7 29.4 35.4 30C36 30.5 42.3 36.4 42.3 36.4C42.3 36.4 52.1 27 54.3 24.5C54.8 23.9 56.7 23.6 57.6 24.5C58.5 25.4 58.1 27.5 57.6 27.8C56 29 42.3 43.1 42.3 43.1Z"
                fill="#00ABE6" />
              <path
                d="M52.8 21.5C49.5 24.5 42.3 32 42.3 32C42.3 32 39 28.5 37.3 27C36 26 32.8 26.7 31 28.5C29.2 30.3 28.5 33 29.5 34.8C31 36.4 34.4 39.7 34.4 39.7L42.3 47.5C42.3 47.5 58 31.5 60.5 29.3C61.6 28.3 62 24 60 22C58 20 53.9 20.5 52.8 21.5ZM42.3 43.1L39 39.8C39 39.8 34.5 35.5 32.1 33.3C31.8 33 31.7 31.3 32.5 30.5C33.3 29.7 34.7 29.4 35.4 30C36 30.5 42.3 36.4 42.3 36.4C42.3 36.4 52.1 27 54.3 24.5C54.8 23.9 56.7 23.6 57.6 24.5C58.5 25.4 58.1 27.5 57.6 27.8C56 29 42.3 43.1 42.3 43.1Z"
                fill="#00ABE6" />
              <path
                d="M26.1 4.5C45.5 1.7 65.5 3.2 84.4 9.1C81.7 22.2 77 34.7 70.5 46.3L73.2 47.9C80.1 35.6 85 22.3 87.7 8.3L88 7L86.7 6.6C66.9 0.2 46 -1.5 25.7 1.5L26.1 4.5Z"
                fill="#00ABE6" />
              <path
                d="M61.9 59.8C56.8 66.7 51.1 73.1 44.7 78.9C24 60.7 9.7 36.5 3.6 9.8C5.8 9.1 8.1 8.4 10.3 7.8L10 4.7C7.1 5.5 4.2 6.3 1.3 7.3L0 7.8L0.3 9.1C6.4 37.5 21.6 63.1 43.7 82.1L44.8 83L45.8 82.1C52.8 75.8 59.1 68.9 64.6 61.4L61.9 59.8Z"
                fill="#00ABE6" />
              <path
                d="M10.5 9C11.8807 9 13 7.88071 13 6.5C13 5.11929 11.8807 4 10.5 4C9.11929 4 8 5.11929 8 6.5C8 7.88071 9.11929 9 10.5 9Z"
                fill="#00ABE6" />
              <path
                d="M26.5 5C27.8807 5 29 3.88071 29 2.5C29 1.11929 27.8807 0 26.5 0C25.1193 0 24 1.11929 24 2.5C24 3.88071 25.1193 5 26.5 5Z"
                fill="#00ABE6" />
              <path
                d="M71.5 49C72.8807 49 74 47.8807 74 46.5C74 45.1193 72.8807 44 71.5 44C70.1193 44 69 45.1193 69 46.5C69 47.8807 70.1193 49 71.5 49Z"
                fill="#00ABE6" />
              <path
                d="M63.5 63C64.8807 63 66 61.8807 66 60.5C66 59.1193 64.8807 58 63.5 58C62.1193 58 61 59.1193 61 60.5C61 61.8807 62.1193 63 63.5 63Z"
                fill="#00ABE6" />
            </svg>
          </div>
          <div class="caption">
            <h3>Single-Sign-On and Strong Security</h3>
            <p>We ensure that the hosted services are operated at the highest security principles. We encrypt all access
              to proxied services with TLS/SSL. </p>
          </div>
        </div>

        <div class="item">
          <p class="count">06</p>
          <div class="icon">
            <svg width="90" height="83" viewBox="0 0 90 83" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.3 64.7H80.9L78.3 49.8H82.5C83.5 49.8 84.2 49 84.2 48.1V33.2C84.2 32.3 83.4 31.5 82.5 31.5H68.1L57.8 21.4H66.4C67.4 21.4 68.1 20.6 68.1 19.7V2.7C68.1 1.8 67.3 1 66.4 1H42V4.4H64.7V17.9H25.5V4.4H31V1H23.6C22.6 1 21.9 1.8 21.9 2.7V19.6C21.9 20.5 22.7 21.3 23.6 21.3H31.4L20.4 31.4H5.4C4.4 31.4 3.7 32.2 3.7 33.1V48C3.7 48.9 4.5 49.7 5.4 49.7H10.2L8.6 64.7H1.7C0.7 64.7 0 65.5 0 66.4V81.3C0 82.2 0.8 83 1.7 83H16.8C17.8 83 18.5 82.2 18.5 81.3V66.4C18.5 65.5 17.7 64.7 16.8 64.7H12L13.7 49.8H20.5C21.5 49.8 22.2 49 22.2 48.1V34.4L36.4 21.4H43.2V35.4H37.4C36.4 35.4 35.7 36.2 35.7 37.1V52C35.7 52.9 36.5 53.7 37.4 53.7H39.3L35 64.7H25.6C24.6 64.7 23.9 65.5 23.9 66.4V81.3C23.9 82.2 24.7 83 25.6 83H40.7C41.7 83 42.4 82.2 42.4 81.3V66.4C42.4 65.5 41.6 64.7 40.7 64.7H38.8L43.3 53.8H47L51.4 64.7H49.4C48.4 64.7 47.7 65.5 47.7 66.4V81.3C47.7 82.2 48.5 83 49.4 83H64.5C65.5 83 66.2 82.2 66.2 81.3V66.4C66.2 65.5 65.4 64.7 64.5 64.7H55.1L50.7 53.8H52.7C53.7 53.8 54.4 53 54.4 52.1V37.1C54.4 36.2 53.6 35.4 52.7 35.4H46.9V21.4H53L65.7 33.9V48.1C65.7 49 66.5 49.8 67.4 49.8H74.8L77.4 64.7H73.2C72.2 64.7 71.5 65.5 71.5 66.4V81.3C71.5 82.2 72.3 83 73.2 83H88.3C89.3 83 90 82.2 90 81.3V66.4C90 65.4 89.2 64.7 88.3 64.7ZM15.1 68.1V79.6H3.5V68.1H15.1ZM18.9 46.3H7.2V34.9H18.9V46.3ZM38.9 68.1V79.6H27.3V68.1H38.9ZM62.8 68.1V79.6H51.1V68.1H62.8ZM50.9 38.8V50.3H39.2V38.8H50.9ZM74.1 46.4H69.1V35H80.8V46.5H74.1V46.4ZM86.5 79.6H74.9V68.1H86.5V79.6Z"
                fill="#00ABE6" />
              <path
                d="M30.5 5C31.8807 5 33 3.88071 33 2.5C33 1.11929 31.8807 0 30.5 0C29.1193 0 28 1.11929 28 2.5C28 3.88071 29.1193 5 30.5 5Z"
                fill="#00ABE6" />
              <path
                d="M42.5 5C43.8807 5 45 3.88071 45 2.5C45 1.11929 43.8807 0 42.5 0C41.1193 0 40 1.11929 40 2.5C40 3.88071 41.1193 5 42.5 5Z"
                fill="#00ABE6" />
            </svg>
          </div>
          <div class="caption">
            <h3>Localized Service Offering</h3>
            <p>Find localized service offerings such as payment format conversions, address lookups, integration of
              local input-, output- and archive solutions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="scheduleBlock">
    <div class="container">
      <h2 class="title">Start using <span>Arbalo</span> today</h2>
      <a href="" class="btn medium">Try Now</a>

      <p>First 30 days are Free</p>

    </div>
  </div>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>