<% var data = {
    title: "News | Arbalo"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="news">

    <div class="header">
        <div class="typedString">
            <div id="typed-string">
                <h1 class="title">Latest News</h1>
            </div>
            <h1 class="title" id="typed"></h1>
        </div>
    </div>
    <div class="container">

        <div class="lastNews">
            <a href="single-news.html" class="card">
                <div class="img">
                    <img src="img/news/news1.jpg" alt="">
                </div>

                <div class="caption">
                    <p class="date">21 Nov 2019</p>
                    <h3 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo,
                        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.</p>
                    <button class="readMore">Read More</button>
                </div>
            </a>
        </div>

        <div class="newsList">
            <h2 class="title">All News</h2>

            <div class="blogPostList">
                <div class="container">
                    <div class="block">

                        <div class="wrapper big">
                            <a href="single-news.html" class="card">
                                <div class="img">
                                    <img src="img/news/news1.jpg" alt="">
                                </div>

                                <div class="caption">
                                    <p class="date">21 Nov 2019</p>
                                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </a>
                        </div>

                        <div class="wrapper small">
                            <a href="single-news.html" class="card">
                                <div class="img">
                                    <img src="img/news/news1.jpg" alt="">
                                </div>

                                <div class="caption">
                                    <p class="date">21 Nov 2019</p>
                                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </a>
                            <a href="single-news.html" class="card">
                                <div class="img">
                                    <img src="img/news/news1.jpg" alt="">
                                </div>

                                <div class="caption">
                                    <p class="date">21 Nov 2019</p>
                                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </a>
                            <a href="single-news.html" class="card">
                                <div class="img">
                                    <img src="img/news/news1.jpg" alt="">
                                </div>

                                <div class="caption">
                                    <p class="date">21 Nov 2019</p>
                                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </a>
                            <a href="single-news.html" class="card">
                                <div class="img">
                                    <img src="img/news/news1.jpg" alt="">
                                </div>

                                <div class="caption">
                                    <p class="date">21 Nov 2019</p>
                                    <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </a>

                        </div>

                    </div>

                    <div class="pagination">
                        <a class="page-numbers current" href="">1</a>
                        <a class="page-numbers" href="">2</a>
                        <a class="page-numbers" href="">3</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="subscribeBlock">
        <div class="container">
            <h2 class="title">Subscribe To News</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

            <!-- FORM -->

        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>