<% var data = {
  title: "Offering | Arbalo"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="services">
  <div class="header">
    <div class="container">
      <div class="block">
        <div class="image">
          <video muted autoplay>
            <source src="img/offering_bg.mp4" type="video/mp4">
          </video>
        </div>
        <div class="caption">
          <div class="typedString">
            <div id="typed-string">
              <h2 class="title">What Do We Offer?</h2>
            </div>
            <h2 class="title" id="typed"></h2>
          </div>
          <p class="subtitle">The primary intent of Arbalo is to build and operate the cloud service broker platform and
            to establish an ecosystem of service providers. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="customBlock">
    <div class="container">
      <div class="block">
        <div class="item">
          <p class="count">01</p>
          <h2 class="title">Product solution</h2>
          <div class="caption">
            <p>The primary intent of Arbalo is to build and operate the cloud service broker platform and to establish
              an ecosystem of service providers.

              This product approach is described extensively under menu entry Solution.</p>

            <a class="btn small" href="">Contact Us</a>
          </div>
        </div>
        <div class="item">
          <p class="count">02</p>
          <h2 class="title">Software development projects</h2>
          <div class="caption">
            <p>By concluding software development projects, we help our customers to implement their requirements and
              move their software solutions into a modern service oriented architecture.

              Such projects can be deployed in the public or private cloud or on-premise. </p>

            <a class="btn small" href="">Contact Us</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="consulting">
    <div class="container">
      <div class="wrapper">
        <p class="count">03</p>
        <h2 class="title">Consulting</h2>
        <p class="subtitle">We are also able to provide our experience in the form of consulting services. In order to
          give a feeling about possible topics and our skills, we created a pre-defined set of small consulting packages
          at a fix price:</p>

        <div class="block">
          <div class="item">
            <a href="single-service.html">Docker and Containers</a>
          </div>
          <div class="item">
            <a href="single-service.html">Application Architecture</a>
          </div>
          <div class="item">
            <a href="single-service.html">Cloud Privacy & Security</a>
          </div>
          <div class="item">
            <a href="single-service.html">CI/CD</a>
          </div>
          <div class="item">
            <a href="single-service.html">Versioning and Releases</a>
          </div>
          <div class="item">
            <a href="single-service.html">CAPEX vs OPEX</a>
          </div>
          <div class="item">
            <a href="single-service.html">Business Case Review</a>
          </div>
          <div class="item">
            <a href="single-service.html">Containers Orchestation</a>
          </div>
          <div class="item">
            <a href="single-service.html">Cloud Service QuickStart for Startups</a>
          </div>
          <div class="item">
            <a href="single-service.html">Unified IT Management</a>
          </div>
          <div class="item">
            <a href="single-service.html">Licensing Comparison</a>
          </div>
          <div class="item">
            <a href="single-service.html">OSS licensing</a>
          </div>
          <div class="item">
            <a href="single-service.html">Service Architecture</a>
          </div>
          <div class="item">
            <a href="single-service.html">Swiss Cloud Comparison</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subscribeBlock">
    <div class="container">
      <h2 class="title">Subscribe To News</h2>
      <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>


      <form class="subscribeForm">
        <input type="email" placeholder="Email">
        <input type="submit" value="Send">

        <div>
          <input id="privacy" type="checkbox">
          <label for="privacy">I agree to the <a href="privacy.html">Privacy Policy</a></label>
        </div>
      </form>

    </div>
  </div>

  <div class="scheduleBlock">
    <div class="container">
      <h2 class="title">Start using <span>Arbalo</span> today</h2>
      <a href="" class="btn medium">Try Now</a>

      <p>First 30 days are Free</p>

    </div>
  </div>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>