<% var data = {
    title: "Single Solution | Arbalo"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="singleSolution">
    <div class="container">
        <div class="bg"></div>
        <h2 class="mainTitle">Cloud Service Broker</h2>

        <div class="textBlock">
            <h3 class="title">Cloud Roles</h3>
            <p>In 2011, the US National Institute of Standards and Technology (NIST) in its Cloud Computing Reference
                Architecture defined the following cloud roles:</p>
        </div>

        <div class="achievements">
            <div class="container">
                <div class="block">
                    <div class="item">
                        <p class="count">01</p>
                        <h4 class="title">Cloud Provider</h4>
                        <p>Person, organisation or entity responsible for making a service available to Cloud Consumers.
                        </p>
                    </div>
                    <div class="item">
                        <p class="count">02</p>
                        <h4 class="title">Cloud Consumer</h4>
                        <p>Person or organisation that maintains a business relationship with, and uses service from
                            Cloud Provider.</p>
                    </div>
                    <div class="item">
                        <p class="count">03</p>
                        <h4 class="title">Cloud Broker</h4>
                        <p>An entity that manages the use, performance and delivery of cloud services, and negotiates
                            relationships between Cloud Providers and Cloud Consumers.</p>
                    </div>
                    <div class="item">
                        <p class="count">04</p>
                        <h4 class="title">Cloud Carrier</h4>
                        <p>The intermediary that provides connectivity and transport of cloud services from Cloud
                            Providers to Cloud Consumers.</p>
                    </div>
                    <div class="item">
                        <p class="count">05</p>
                        <h4 class="title">Cloud Auditor</h4>
                        <p>A party that can conduct in-dependent assessment of cloud services, information system
                            operations, performance and security of the cloud implementation.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="customBlock">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet maecenas sed eget nunc at mi
                condimentum. Lacus, nisi id libero consectetur at risus. Lectus tortor enim neque pretium, euismod
                curabitur et. Malesuada sollicitudin aliquam feugiat dolor. Sed diam, sed sollicitudin tortor.
                Condimentum consectetur nisi, proin aliquam adipiscing ac est elit eget. Amet, pellentesque placerat
                tortor dolor lectus. Vitae metus cum nec nullam orci mattis. Sit nec ultrices ut erat nunc. Ac urna,
                egestas a turpis viverra. Elit libero leo diam lobortis in consequat enim ultricies augue. Dui eget ut
                habitant eu pharetra at amet enim dictum. Id tellus non gravida viverra. Leo netus senectus feugiat
                morbi.</p>
        </div>
    </div>

</div>

<div class="scheduleBlock">
    <div class="container">
        <h2 class="title">Start using <span>Arbalo</span> today</h2>
        <a href="" class="btn medium">Try Now</a>

        <p>First 30 days are Free</p>

    </div>
</div>

<div class="subscribeBlock">
    <div class="container">
        <h2 class="title">Subscribe To News</h2>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>


        <form class="subscribeForm">
            <input type="email" placeholder="Email">
            <input type="submit" value="Send">

            <div>
                <input id="privacy" type="checkbox">
                <label for="privacy">I agree to the <a href="privacy.html">Privacy Policy</a></label>
            </div>
        </form>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>