<% var data = {
    title: "Single Service | Arbalo"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="singleServices">
    <div class="container">
        <div class="block">
            <div class="navigation">
                <div class="item active">
                    <a rel="tab" href="single-service.html">Docker and Containers</a>
                </div>
                <div class="item">
                    <a rel="tab" href="http://google.com">CI/CD</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Business Case Review</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Unified IT Management</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Service Architecture</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Application Architecture</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Versioning and Releases</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Containers Orchestation</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Licensing Comparison</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Swiss Cloud Comparison</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Cloud Privacy & Security</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">CAPEX vs OPEX</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">Cloud Service QuickStart for Startups</a>
                </div>
                <div class="item">
                    <a rel="tab" href="single-service.html">OSS licensing</a>
                </div>
            </div>

            <div class="content">
                <p class="price">CHF 2’500</p>

                <h3 class="title">"Dockerise"/"Containerise"</h3>

                <h4>Your Application</h4>
                <p class="subtitle">You do not have a docker image of your service? We do this for you and show you how.
                </p>
                <div class="row">

                    <div class="singleWrapper">
                        <p class="count">01</p>
                        <h4>Service Description</h4>
                        <ul>
                            <li>Introduction to docker</li>
                            <li>Packaging your application with docker</li>
                            <li>Docker security</li>
                        </ul>
                    </div>

                    <div class="wrapper">
                        <div class="item">
                            <p class="count">02</p>
                            <h4>Scope Of Work</h4>
                            <ul>
                                <li>Docker image of your application</li>
                            </ul>
                        </div>
                        <div class="item">
                            <p class="count">03</p>
                            <h4>Our Offering</h4>
                            <ul>
                                <li>Defined deliverables</li>
                                <li>Competitive fix price</li>
                                <li>Fast result</li>
                                <li>No annual fee for Arbalo platform for 2020 if services used in 2019</li>
                            </ul>
                        </div>
                    </div>

                    <div class="wrapper">
                        <div class="item">
                            <p class="count">04</p>
                            <h4>Deliverables</h4>
                            <ul>
                                <li>Docker image of your application</li>
                                <li>Documentation</li>
                            </ul>
                        </div>
                        <div class="item">
                            <p class="count">05</p>
                            <h4>Preconditions</h4>
                            <ul>
                                <li>Existing service</li>
                            </ul>
                        </div>
                    </div>

                    <div class="wrapper">
                        <div class="item">
                            <p class="count">06</p>
                            <h4>Target Audience</h4>
                            <ul>
                                <li>CIOs</li>
                                <li>IT managers</li>
                                <li>Developers</li>
                            </ul>
                        </div>
                        <div class="item">
                            <p class="count">07</p>
                            <h4>Duration/Time</h4>
                            <ul>
                                <li>Interviews / workshop of half a day</li>
                                <li>Report delivered within one week thereafter</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="scheduleBlock">
        <div class="container">
            <h2 class="title">Start using <span>Arbalo</span> today</h2>
            <a href="" class="btn medium">Try Now</a>

            <p>First 30 days are Free</p>

        </div>
    </div>

    <div class="subscribeBlock">
        <div class="container">
            <h2 class="title">Subscribe To News</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

            
            <form class="subscribeForm">
                <input type="email" placeholder="Email">
                <input type="submit" value="Send">

                <div>
                    <input id="privacy" type="checkbox">
                    <label for="privacy">I agree to the <a href="privacy.html">Privacy Policy</a></label>
                </div>
            </form>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>