<% var data = {
    title: "Solution | Arbalo"
  }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="solutionPage">
    <div class="header">
        <div class="container">
            <div class="block">
                <div class="caption">
                    <div class="typedString">
                        <div id="typed-string">
                            <h2 class="title">What Is The Arbalo Solution?</h2>
                        </div>
                        <h2 class="title" id="typed"></h2>
                    </div>
                    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit.</p>
                </div>
                <div class="image">
                    <video muted autoplay>
                        <source src="img/solutions_bg.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="solutionContent">
        <div class="block">
            <div class="item">
                <div class="container">
                    <div class="wrapper">
                        <p class="counter">01</p>
                        <div class="caption">
                            <h2 class="title">The Problem</h2>
                        </div>

                        <div class="subtitle">
                            <p>Software is everywhere today and its importance is still growing. Modern software
                                development breaks the systems into pieces that are implemented as reusable services.
                                IT organizations are more and more using third party services from the cloud.</p>


                        </div>
                        <a class="link" href="single-solution.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="wrapper">
                        <p class="counter">02</p>
                        <div class="caption">
                            <h2 class="title">Cloud Service Broker</h2>
                        </div>
                        <div class="subtitle">
                            <p>Cloud service brokers bring order into this chaos. This cloud role was defined by NIST*
                                in 2011:
                                An entity that manages the use, performance and delivery of cloud services, and
                                negotiates relationships between Cloud Providers and Cloud Consumers.</p>
                        </div>
                        <a class="link" href="single-solution.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="wrapper">
                        <p class="counter">03</p>
                        <div class="caption">
                            <h2 class="title">The Usage</h2>
                        </div>
                        <div class="subtitle">
                            <p>After your one-time registration, you may open additional projects on Arbalo and invite
                                additional users into your projects. You then can select suitable services from Arbalo's
                                service catalog and provision (=install) the service with a simple click.</p>

                            <a class="link" href='single-solution.html'>Read More</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="customTextBlock">
        <div class="container">
            <h2 class="title">Lorem Ipsum</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.</p>

            <div class="wrapper">
                <div class="item">
                    <p class="title">Lorem ipsum</p>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                </div>
                <div class="item">
                    <p class="title">Lorem ipsum</p>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                </div>
                <div class="item">
                    <p class="title">Lorem ipsum</p>
                    <ul id="list">
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduleBlock">
        <div class="container">
            <h2 class="title">Start using <span>Arbalo</span> today</h2>
            <a href="" class="btn medium">Try Now</a>

            <p>First 30 days are Free</p>

        </div>
    </div>

    <div class="subscribeBlock">
        <div class="container">
            <h2 class="title">Subscribe To News</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>


            <form class="subscribeForm">
                <input type="email" placeholder="Email">
                <input type="submit" value="Send">

                <div>
                    <input id="privacy" type="checkbox">
                    <label for="privacy">I agree to the <a href="privacy.html">Privacy Policy</a></label>
                </div>
            </form>

        </div>
    </div>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>