.catalogPage {
    .header {
        background-image: url(../img/news/main_bg.svg);
        background-position: 27% 34%;
        background-repeat: no-repeat;
        height: 580px;

        @include respond-to($phone) {
            background-position: 42% 61%;
            height: auto;
            min-height: 350px;
            margin: 50px 0;
        }

        .typedString {
            height: 56px;
            margin-bottom: 20px;
        }

        .block {
            height: 580px;
            @extend .flexCol;
            align-items: center;

            @include respond-to($phone) {
                height: auto;
                min-height: 350px;
            }

            .title {
                height: 56px;
                overflow: hidden;

                @include respond-to($phone) {
                    font-size: 2rem;
                }
            }

            .subtitle {
                width: 415px;
                margin: 15px auto 0;
                text-align: center;

                @include respond-to($phone) {
                    width: 100%;
                }
            }
        }
    }

    .tabs {
        .tabNavigation {
            margin: 10px 0 50px;

            li {
                display: inline-block;
                margin: 0 10px;
                position: relative;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    @extend .h3;
                }

                &.active {
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 100%;
                        background: $brand2;
                        height: 3px;
                        border-radius: 100px;
                    }
                }
            }
        }

        .tabContainer {
            .tab-content {
                padding: 100px 0;

                &:first-child {
                    background: $back2;

                    .block {
                        @extend .flex;
                        align-items: stretch;
                        justify-content: space-between;

                        .item {
                            width: calc(33.333% - 10px);
                            flex: 0 0 calc(33.333% - 10px);
                            background: #fff;
                            padding: 40px;
                            margin-bottom: 30px;

                            @include respond-to($tablet-portrait) {
                                padding: 40px 20px;
                                width: calc(50% - 10px);
                                flex: 0 0 calc(50% - 10px);
                            }

                            @include respond-to($phone) {
                                width: 100%;
                                flex: 0 0 100%;
                            }

                            .image {
                                min-height: 210px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 50px;

                                img {
                                    margin: auto;
                                }
                            }

                            h4 {
                                margin-bottom: 20px;
                                height: 80px;

                                @include respond-to($phone) {
                                    height: auto;
                                }
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .block {
                        @extend .flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        .item {
                            &:first-child {
                                max-width: 490px;
                            }

                            &:nth-child(2) {
                                max-width: 325px;
                                margin-top: 60px;
                                position: relative;

                                &::before {
                                    content: url(../img/catalog/decor-group.svg);

                                    position: absolute;
                                    top: -30px;
                                    left: -80px;
                                    z-index: -1;
                                }

                                &::after {
                                    content: '';

                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    left: -40px;
                                    width: 1px;
                                    height: 50px;
                                    background: $brand2;
                                    z-index: -1;
                                }
                            }
                        }
                    }

                    h4 {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

}