.contactPage {
    margin-top: 100px;

    .header {
        height: 400px;

        .container {
            background-image: url(../img/contact/contact_bg.svg);
            background-position: 30% 50%;
            background-repeat: no-repeat;
            height: 100%;
        }

        .typedString {
            height: 56px;
            margin-bottom: 20px;
        }

        .block {
            height: 100%;
            @extend .flexCol;
            justify-content: center;

            .subtitle {
                margin-top: 15px;
                max-width: 570px;
                text-align: center;
                @extend .textMedium;
            }

            .title {
                display: inline-block;
                height: 56px;
            }
        }
    }

    .team {
        margin-bottom: 200px;

        .block {
            @extend .flex;
            justify-content: flex-start;
            position: relative;

            .item {
                width: calc(25% - 30px);
                flex: 0 0 calc(25% - 30px);
                margin: 0 15px 50px;

                @include respond-to($phone) {
                    width: 100%;
                    flex: 0 0 100%;
                    margin: 0 0 50px;
                }

                .image {
                    height: 300px;
                    overflow: hidden;

                    img {
                        margin: auto;
                    }
                }

                .caption {
                    margin-top: 30px;

                    .name {
                        @extend .textLarge;
                        font-weight: 600;

                        @include respond-to($phone) {
                            text-align: center;
                        }
                    }

                    div {
                        margin-top: 8px;
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: space-between;

                        @include respond-to($phone) {
                            flex-flow: column;

                            .position {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }

            &::before {
                content: url(../img/contact/decor-group.svg);
                position: absolute;
                bottom: -150px;
                right: -70px;
            }
        }
    }

    .contactForm {
        margin: 100px 0;

        .title {
            display: block;
            margin-bottom: 100px;
        }

        .block {
            @extend .flex;
            justify-content: center;

            >div {
                max-width: 560px;
                margin: 0 50px;

                @include respond-to($phone) {
                    width: 100%;
                    margin: 0;
                }
            }
        }

        .item {
            position: relative;

            .info {
                padding: 40px 80px;
                position: absolute;
                left: -180px;
                top: 130px;
                background: #F5F5F5;

                @include respond-to($phone) {
                    padding: 40px 20px;
                    position: static;
                }

                p {
                    margin-bottom: 10px;
                    max-width: 155px;
                }

                p.title {
                    font-weight: 600;
                    margin-top: 10px;
                    margin-bottom: 0;
                }

                .social {
                    position: absolute;
                    bottom: 50px;
                    right: 50px;

                    a {
                        display: block;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

.form {
    max-width: 400px;

    @include respond-to($phone) {
        margin-top: 50px !important;
    }

    label {
        @extend .textMedium;
        font-weight: 600;
        width: 100%;
        display: block;
        margin-bottom: 25px;
    }

    input[type=submit] {
        @extend .btn.medium;
        // box-shadow: none;
        width: 100%;
    }

    input[type=text],
    input[type=email],
    textarea {
        -webkit-appearance: none;
        margin-top: 8px;
        padding: 5px 0;
        width: 100%;
        box-shadow: inset 0 -1px 0 $textMain;
        @include transition(.3s);

        &:focus {
            box-shadow: 0 1px 0 $brand1;
        }
    }

    textarea {
        height: 80px;
    }
}