.featurePage {
    .textBlock {
        margin: 5rem 0;

        p {
            width: 790px;
            margin: auto;
            text-align: center;

            @include respond-to($tablet-portrait) {
                width: auto;
            }

            @include respond-to($phone) {
                width: auto;
            }
        }
    }

    .achievements {
        margin-top: 3rem;

        .block {
            .item {
                align-items: center;

                @include respond-to($phone) {
                    flex-flow: column-reverse wrap;
                }

                .text {
                    h4 {
                        text-align: left;
                        color: $brand1;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }

    .featureItemsNav {
        padding: 1.5rem 0;
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        background: #fff;
        @extend .shadow;

        @include respond-to($phone-land) {
            position: static;
        }

        @include respond-to($phone) {
            position: static;
        }

        .block {
            @extend .flex;
            align-items: flex-start;
            justify-content: center;

            @include respond-to($tablet-portrait) {
                width: 90%;
            }

            @include respond-to($phone) {
                width: 90%;
                flex-flow: row wrap;
            }
        }

        a {
            margin: 0 .5rem;
            @include transition(.3s);
            flex: 0 0 120px;
            width: 120px;
            display: block;

            @include respond-to($tablet-portrait) {
                margin: 0 auto 1rem;
            }

            @include respond-to($phone) {
                margin: 0 auto 1rem;
            }

            &:hover {
                color: $brand1;

                .img {
                    border-color: $brand1;
                }
            }

            .img {
                border: 1px solid $brand2;
                border-radius: 50%;
                width: 64px;
                height: 64px;
                margin: 0 auto 1rem;
                @extend .flex;
                justify-content: center;
                @include transition(.3s);
            }

            &.active {
                color: $brand1;

                .img {
                    border: 1px solid $brand1;
                }
            }
        }
    }
}