.main {
    .typedString {
        height: 108px;
        margin-bottom: 20px;
    }

    .header {
        min-height: 600px;
        height: 100vh;
        position: relative;

        @include respond-to($tablet-portrait) {
            height: auto;
            margin: 150px 0 50px;
            min-height: auto;
        }

        @include respond-to($phone) {
            height: auto;
            margin-top: 150px;
        }

        .container {
            height: 100%;
        }

        .title {
            @extend .h2;
            margin-bottom: 20px;
            height: 108px;

            @include respond-to($phone) {
                font-size: 2rem;
                line-height: 2.5rem;
                text-align: center;
            }

        }

        .subtitle {
            @extend .textLarge;
            margin-bottom: 30px;
            max-width: 370px;

            @include respond-to($phone) {
                font-size: 1rem;
                text-align: center;
            }
        }

        .wrapper {
            @extend .flex;
            flex-flow: row;
            height: 100%;

            @include respond-to($phone) {
                flex-flow: column;
            }

            .caption {
                width: 470px;
                flex: 0 0 470px;

                @include respond-to($phone) {
                    order: 1;
                    width: 100%;
                    flex: 0 0 100%;
                }
            }
        }

        .image {
            margin-top: 50px;

            @include respond-to($phone) {
                order: 2;
            }
        }
    }

    .textBlock {
        padding: 100px 0 250px;
        position: relative;

        @include respond-to($phone) {
            padding-bottom: 200px;
        }

        .bg-dots {
            content: url(../img/main/dot-group-1.svg);
            position: absolute;
            left: -1%;
            top: 21%;
            z-index: -1;
        }

        .bg-dots-2 {
            content: url(../img/main/dot-group-2.svg);
            position: absolute;
            left: 31%;
            top: 52%;
            z-index: -1;
        }

        .bg-dots-3 {
            content: url(../img/main/dot-group-3.svg);
            position: absolute;
            left: 13%;
            top: 14%;
            z-index: -1;
        }

        .block {
            @extend .flex;
            align-items: flex-start;
            justify-content: space-between;

            .item {
                width: 33.333%;
                flex: 0 0 33.333%;
                max-width: 320px;
                position: relative;
                text-align: center;

                @include respond-to($interval) {
                    padding: 0 30px;
                    max-width: none;
                }

                @include respond-to($phone) {
                    width: 100%;
                    flex: 0 0 100%;
                    max-width: none;
                    margin-bottom: 50px;
                    padding: 0;
                }

                &::before {
                    content: '';
                    height: 50px;
                    width: 1px;
                    background: $brand1;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -45px;

                    @include respond-to($interval) {
                        right: 0px;
                    }

                    @include respond-to($phone) {
                        content: none;
                    }
                }

                &:last-child {
                    &::before {
                        content: none;
                    }
                }
            }
        }

        &::before {
            content: url(../img/main/decor_1.svg);
            position: absolute;
            bottom: 0;
            left: 50%;
        }

        .title {
            @extend .btnLarge;
            margin-bottom: 16px;
        }
    }

    .services {
        margin: 100px 0 90px;

        @include respond-to($phone) {
            margin-bottom: 0;
        }

        .container {
            text-align: center;
            width: 1300px;

            @include respond-to($tablet-portrait) {
                width: auto;
            }

            @include respond-to($phone) {
                width: 100%;
                margin: 0;
            }
        }

        h2.title {
            position: relative;
            margin-bottom: 4rem;

            &::before {
                content: url(../img/main/decor_2.svg);
                position: absolute;
                left: 100%;
            }
        }

        .block {
            @extend .flex;
            justify-content: space-between;
            align-items: stretch;
            text-align: left;

            .item {
                width: 33.333%;
                flex: 0 0 33.333%;
                padding: 168px 20px 104px;
                @extend .flexCol;
                justify-content: flex-start;
                @include transition(.3s);
                position: relative;

                @include respond-to($phone) {
                    width: 100%;
                    flex: 0 0 100%;
                    padding: 80px 20px;
                }

                &:hover {
                    background: $brand1;
                    color: #fff;

                    .icon path {
                        fill: #fff;
                    }

                    .count {
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
        }

        .count {
            position: absolute;
            top: 40px;
            left: 40px;
            color: $brand1;
            opacity: .3;
            @include transition(.3s);
        }

        .icon {
            height: 110px;
            margin-bottom: 50px;

            @include respond-to($phone) {
                margin-bottom: 10px;
            }

            path {
                fill: $brand1;
                @include transition(.3s);
            }
        }

        .caption {
            @include respond-to($phone) {
                text-align: center;
            }

            h3 {
                margin-bottom: 24px;
            }
        }
    }
}