.news {
    .header {
        padding: 250px 0;
        background-image: url(../img/contact/contact_bg.svg);
        background-position: 32% 50%;
        background-repeat: no-repeat;

        h1.title {
            @extend .h2;
            text-align: center;
        }

        .typedString {
            text-align: center;
            height: 56px;
            margin-bottom: 20px;
        }
    }

    .card {
        .img {
            border-radius: 4px;
            overflow: hidden;
        }

        .readMore {
            @extend .readMoreLink;
        }
    }

    .lastNews {
        position: relative;

        &::before {
            content: url(../img/news/decor-group.svg);
            position: absolute;
            top: -280px;
            right: 100px;

            @include respond-to($phone) {
                content: none;
            }
        }

        .card {
            @extend .flex;
            flex-flow: row;
            align-items: stretch;

            @include respond-to($phone) {
                flex-flow: row wrap;
            }

            .date {
                margin-bottom: 20px;
            }

            .img {
                flex: 0 0 570px;
                width: 570px;

                @include respond-to($phone) {
                    width: 100%;
                    flex: 0 0 100%;
                }
            }

            .caption {
                padding-left: 80px;
                max-width: 400px;

                @include respond-to($phone) {
                    padding: 0;
                    margin-top: 30px;
                }

                .title {
                    margin-bottom: 15px;

                    @include respond-to($phone) {
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                }
            }
        }
    }

    .newsList {
        margin: 200px 0;

        @include respond-to($phone) {
            margin-bottom: 100px;
        }

        h2.title {
            margin-bottom: 60px;
        }

        .block {
            @extend .flex;
            justify-content: flex-end;
            align-items: stretch;
            margin: 0 -10px;

            @include respond-to($phone) {
                margin: 0;
            }
        }

        .container {
            @include respond-to($phone) {
                width: 100%;
                margin: 0;
            }
        }

        .wrapper {
            width: 50%;
            flex: 0 0 50%;

            @include respond-to($phone) {
                width: 100%;
                flex: 0 0 100%; 
             }

            .card {
                width: calc(100% - 30px);
                display: block;

                @include respond-to($phone) {
                    width: 100%;
                }
            }

            &.small {
                @extend .flex;
                justify-content: space-between;
                align-items: flex-start;

                .card {
                    flex: 0 0 calc(50% - 30px);
                    width: calc(50% - 30px);

                    @include respond-to($phone) {
                        width: 100%;
                        flex: 0 0 100%;
                    }

                    .img {
                        max-height: 155px;
                        overflow: hidden;

                        @include respond-to($phone) {
                            max-height: none;
                        }
                    }

                    .caption {
                        .title {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;

                            @include respond-to($phone) {
                                white-space: normal;
                            }
                        }
                    }
                }
            }

            .big {
                .card {
                    .img {
                        height: calc(100% - 51px);

                        img {
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }

        .card {
            flex: 0 0 calc(25% - 30px);
            width: calc(25% - 30px);
            margin: 0 15px 30px;
            position: relative;

            @include respond-to($phone) {
                flex: 0 0 100%;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }

            .title {
                @extend .textMedium;
                font-weight: 600;
            }

            .caption {
                margin-top: 7px;
            }

            .img {
                img {
                    height: auto;
                }
            }
        }

        .pagination {
            margin: 120px 0 0;
            @extend .flex;
            width: 100%;
            justify-content: flex-end;

            @include respond-to($phone) {
                flex-flow: row wrap;
            }

            .page-numbers {
                margin: 0 1rem;

                &.current,
                &:hover {
                    color: $brand1;
                }

                &.next,
                &.prev {
                    width: auto;
                    border: none;
                }
            }
        }
    }


    .subscribeBlock {
        background: $back2;
    }
}

.singleNews {
    margin-top: 150px;

    .container {
        width: 920px;

        @include respond-to($tablet-portrait) {
            width: auto;
        }

        @include respond-to($phone) {
            width: auto;
        }
    }

    .content {
        margin-bottom: 100px;

        .title {
            @extend .h2;
            text-align: center;
        }

        .date {
            margin: 50px 0 30px;
        }

        img {
            margin: 0 auto 2rem;
            height: auto;
        }
    }
}

.latestNews {
    margin: 6rem 0 8rem;

    h2.title {
        margin-bottom: 3rem;
    }

    .block {
        @extend .flex;
        align-items: stretch;

        .card {
            flex: 0 0 calc(33.333% - 30px);
            width: calc(33.333% - 30px);
            margin: 0 15px 2rem;

            @include respond-to($tablet-portrait) {
                // width: 33.330%;
                // flex: 0 0 100%;
            }

            @include respond-to($phone) {
                width: 100%;
                flex: 0 0 100%;
                margin: 0 0 2rem;
            }
        }
    }
}