.services {

    @include respond-to($tablet-portrait) {
        margin-top: 150px;
    }

    @include respond-to($phone) {
        margin-top: 150px;
    }

    .header {
        .typedString {
            height: 54px;
            margin-bottom: 20px;
        }

        .block {
            @extend .flex;
            justify-content: space-between;
            height: 680px;

            @include respond-to($tablet-portrait) {
                height: auto;
            }

            @include respond-to($phone) {
                height: auto;
            }
        }

        .image {
            max-width: 580px;
            position: relative;
            top: 50px;

            @include respond-to($tablet-portrait) {
                width: 40%;
            }

            @include respond-to($phone) {
                order: 2;
                margin-top: 50px;
                top: 0;
            }
        }

        .caption {
            width: 470px;
            position: relative;

            @include respond-to($tablet-portrait) {
                width: 50%;
            }

            @include respond-to($phone) {
                width: 100%;
                order: 1;
            }

            &::before {
                position: absolute;
                bottom: -280px;
                left: 110px;
                content: url(../img/services/decor_group1.svg);
            }

            .title {
                height: 54px;

                @include respond-to($tablet-portrait) {
                    height: 112px;
                    text-align: left;
                }

                @include respond-to($phone) {
                    // height: 112px;
                    font-size: 2rem;
                    width: 100%;
                }
            }

            p {
                max-width: 400px;

                @include respond-to($phone) {
                    text-align: center;
                }
            }
        }
    }

    .customBlock {
        margin-top: 200px;

        .block {
            position: relative;

            &::before {
                content: url(../img/services/decor_group.svg);
                position: absolute;
                top: -130px;
                left: -50px;
            }

            .item {
                @extend .flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 230px;
                position: relative;

                &:last-child {
                    margin-bottom: 130px;
                }

                .title {
                    max-width: 570px;
                    text-align: left;

                    @include respond-to($tablet-portrait) {
                        max-width: 45%;
                    }
                }
            }

            .count {
                color: $brand1;
                position: absolute;
                top: -35px;
                left: 0;
                opacity: .4;
            }

            .caption {
                max-width: 470px;

                @include respond-to($tablet-portrait) {
                    max-width: 50%;
                }

                .btn {
                    margin-top: 35px;
                }
            }
        }
    }

    .consulting {
        background: $back2;
        padding: 100px 0;
        text-align: center;

        .subtitle {
            width: 645px;
            margin: 0 auto;

            @include respond-to($phone) {
                width: 100%;
            }
        }

        .count {
            color: $brand1;
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            opacity: .4;
        }

        .block {
            margin-top: 70px;

            @extend .flex;
            align-items: flex-start;
            justify-content: flex-start;

            @include respond-to($tablet-portrait) {
                flex-flow: row wrap;
            }

            @include respond-to($phone) {
                flex-flow: row wrap;
            }

            .item {
                width: 33.333%;
                flex: 0 0 33.333%;

                text-align: left;
                margin-bottom: 15px;

                @include respond-to($phone) {
                    width: calc(50% - 20px);
                    flex: 0 0 calc(50% - 20px);
                    margin: 0 10px 15px;
                }

                a {
                    @extend .textMedium;

                    &:hover {
                        color: $brand1;
                    }
                }
            }
        }

        .container {
            width: 930px;

            @include respond-to($tablet-portrait) {
                width: auto;
            }

            @include respond-to($phone) {
                width: auto;
            }

            &::before {
                content: url(../img/services/decor_group2.svg);
                position: absolute;
                top: -260px;
                left: -210px;
                z-index: 1;
            }

            .wrapper {
                position: relative;
                z-index: 10;
            }
        }
    }
}

.singleServices {
    margin-top: 150px;
    overflow: hidden;
    padding-top: 30px;

    @include respond-to($phone) {
        margin-top: 100px;
    }

    .block {
        @extend .flex;
        align-items: flex-start;
    }

    .navigation {
        width: 225px;
        flex: 0 0 225px;

        .item {
            margin-bottom: 20px;

            &.active {
                a {
                    color: $brand1;
                    font-weight: 600;
                }
            }
        }
    }

    .content {
        padding-left: 170px;
        flex: 0 0 calc(100% - 225px);
        width: calc(100% - 225px);
        position: relative;
        padding-top: 50px;

        @include respond-to($phone) {
            width: 100%;
            flex: 0 0 100%;
            padding-left: 0;
        }

        &::before {
            content: url(../img/services/decor_group3.svg);
            position: absolute;
            z-index: -1;
            top: 40px;
            left: 0px;
        }

        .count {
            color: $brand1;
            position: absolute;
            top: -35px;
            left: 0;
            opacity: .4;

            @include respond-to($phone) {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .singleWrapper {
            margin-bottom: 100px;
            position: relative;
        }

        .row {
            margin-top: 105px;
        }

        h3 {
            margin: 30px 0;

            @include respond-to($phone) {
                font-size: 1.5rem;
                line-height: 2rem;
                text-align: center;
            }
        }

        .subtitle {
            max-width: 390px;
        }

        .price {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            background: $brand2;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -20px;
            right: 170px;

            @include respond-to($phone) {
                position: relative;
                top: 0;
                right: 0;
                margin: auto;
            }
        }

        h4 {
            margin-bottom: 30px;

            @include respond-to($phone) {
                text-align: center;
            }
        }

        ul {
            li {
                list-style-type: none;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 15px;
                line-height: 1.5rem;

                &::before {
                    content: url(../img/list_item.svg);
                    margin-right: 10px;
                }
            }
        }

        .wrapper {
            @extend .flex;
            align-items: flex-start;
            margin: 100px 0;



            @include respond-to($phone) {
                margin: 0 0 50px;
            }

            ul {
                max-width: 270px;

                @include respond-to($phone) {
                    max-width: none;
                }
            }

            >.item {
                flex: 0 0 50%;
                width: 50%;
                position: relative;

                @include respond-to($phone) {
                    width: 100%;
                    flex: 0 0 100%;
                    margin-bottom: 50px;
                }
            }


        }
    }
}