.solutionPage {
    .header {
        background-image: url(../img/solution/main_bg.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;

        @include respond-to($phone) {
            margin-top: 150px;
        }

        .typedString {
            height: 108px;
            margin-bottom: 20px;
        }

        .block {
            height: 650px;
            @extend .flex;
            justify-content: space-between;

            @include respond-to($phone) {
                height: auto;
            }
        }

        .caption {
            width: 420px;

            @include respond-to($phone) {
                width: 100%;
            }

            .title {
                text-align: left;

                @include respond-to($phone) {
                    font-size: 2rem;
                    width: 100%;
                }
            }

            .subtitle {
                max-width: 435px;

                @include respond-to($phone) {
                    text-align: center;
                }
            }
        }

        .image {
            max-width: 600px;
            @include respond-to($phone) {
                margin-top: 50px;
            }
        }
    }

    .solutionContent {
        .block {
            .item {
                padding: 140px 0;

                &:nth-child(odd) {
                    background: $back2;
                }

                &:nth-child(1) {
                    .wrapper {
                        &::before {
                            content: url(../img/solution/decor-group1.svg);
                            position: absolute;
                            top: -90px;
                            left: -170px;
                        }
                    }
                }

                &:nth-child(2) {
                    .wrapper {
                        &::before {
                            content: url(../img/solution/decor-group2.svg);
                            position: absolute;
                            top: -90px;
                            left: -170px;
                        }
                    }
                }

                &:nth-child(3) {
                    .wrapper {
                        flex-flow: column wrap;
                        align-items: center;

                        .subtitle {
                            text-align: center;
                        }

                        .link {
                            text-align: center;
                            position: relative;
                            top: 0;
                        }

                        .counter {
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }

                .container {
                    width: 900px;

                    @include respond-to($phone) {
                        width: auto;
                    }
                }

                .caption {
                    .title {
                        max-width: 450px;
                        display: block;
                    }
                }

                .link {
                    @extend .readMoreLink;
                    position: absolute;
                    left: 0;
                    top: 80px;

                    @include respond-to($phone) {
                        position: relative;
                        top: 0;
                    }
                }

                .wrapper {
                    @extend .flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .subtitle {
                        max-width: 380px;
                    }

                    .counter {
                        position: absolute;
                        left: 0;
                        top: -50px;
                        color: $brand2;
                    }
                }
            }
        }
    }

    .customTextBlock {
        padding: 100px 0;

        .subtitle {
            max-width: 370px;
        }

        .container {
            width: 900px;

            @include respond-to($phone) {
                width: auto;
            }
        }

        .wrapper {
            @extend .flex;
            justify-content: space-between;
            width: 800px;
            margin-top: 30px;

            @include respond-to($phone) {
                width: auto;
            }

            .item {
                flex: 0 0 180px;
                width: 180px;

                @include respond-to($phone) {
                    margin-bottom: 30px;
                }

                .title {
                    @extend .textLarge;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
            }
        }

        ul {
            li {
                list-style-type: none;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 15px;
                line-height: 1.5rem;

                &::before {
                    content: url(../img/list_item.svg);
                    margin-right: 10px;
                }
            }
        }
    }
}

.singleSolution {
    padding-top: 250px;
    overflow: hidden;
    position: relative;


    >.container {
        .bg {
            background-image: url(../img/news/main_bg.svg);
            background-repeat: no-repeat;
            background-position: top;
            width: 265px;
            height: 305px;
            position: absolute;
            left: -175px;
            z-index: -1;
            top: -130px;
        }

        &::before {
            content: url(../img/solution/single_solution_decor_group.svg);
            position: absolute;
            left: -140px;
            top: 100px;
            z-index: -1;

            @include respond-to($phone) {
                left: -12px;
                top: -80px;
            }
        }
    }

    .mainTitle {
        margin: 0 0 160px;
    }

    .textBlock {
        width: 430px;
        margin: auto;

        @include respond-to($phone) {
            width: 100%;
        }

        .title {
            margin-bottom: 25px;
        }
    }

    .achievements {
        margin-top: 150px;

        .container {
            width: 890px;

            @include respond-to($phone) {
                width: 100%;
                margin: 0;
            }
        }

        .block {
            @extend .flex;
            justify-content: flex-start;
            align-items: flex-start;

            .item {
                width: calc(33.333% - 20px);
                flex: 0 0 calc(33.333% - 20px);
                margin: 0 10px 100px;
                position: relative;

                @include respond-to($phone) {
                    width: 100%;
                    flex: 0 0 100%;
                    margin: 0 0 100px;
                }

                h4 {
                    margin-bottom: 20px;
                }
            }

            .count {
                position: absolute;
                top: -50px;
                left: 0;
                color: $brand2;
            }

        }
    }

    .customBlock {
        width: 890px;
        margin: auto;
        padding-bottom: 325px;

        @include respond-to($phone) {
            width: 100%;
            padding-bottom: 100px;
        }

        h3 {
            margin-bottom: 30px;
        }
    }
}